// ========= mixins Bourbon
@import "dev/utilites/bourbon/_bourbon.scss";


//  ======== Base
@import "dev/base/_grid.scss";
// @import "dev/base/_normalize.scss";
@import "dev/base/_fonts.scss";


// ========= Variables & Utilits

@import "dev/utilites/_variables.scss";
@import "dev/utilites/_base.scss";
@import "dev/utilites/_helpers.scss";


// ========= Vendors
@import "dev/vendors/_fancybox.scss";
@import "dev/vendors/_bxSlider.scss";


// ========= Layouts

@import "dev/layouts/_header.scss";	
@import "dev/_content.scss";
@import "dev/layouts/_footer.scss";


// ========= Media

@import "dev/media/_media.scss";