.advantages {
	@include display(flex);
	@include justify-content(space-between);
	border: 1px solid #eeeeee;
	margin-bottom: 41px;
	padding: 30px 29px;
	margin-top: 17px;
	&__block {
		flex-basis: 23%;
		@include display(flex);
		@include align-items(center);
		@include align-content(center);
		&:last-child {
			.advantages__block-text {
				border-right: none;
			}
		}
		&:first-child {
			flex-basis: 25%;
		}
		&-img {
			float: left;
			margin-right: 16px;
		}
		&-text {
			margin: 0;
			font-family: $mss;
			font-size: 15px;
			padding-right: 20px;
			border-right: 1px solid #ddd;
		}
	}
}
.category-flex {
	@include display(flex);
	@include justify-content(space-between);
	margin-bottom: 25px;
	&.count-block-3 {
		.category-flex__block {
			min-height: 472px;
		}
	}
	&.count-block-4 {
		.category-flex__block {
			flex-basis: 24%;
			min-height: 472px;
			padding: 22px;
			&-title {
				font-size: 24px;
			}
			&-menu-link {
				font-size: 16px;
			}
		}
	}
	&.count-block-5 {
		@include flex-wrap(wrap);
		.category-flex__block {
			flex-basis: 32.2%;
			min-height: 300px;
			padding: 15px 22px;
			&:not(:nth-child(-n+3)) {
				flex-basis: 49%;
				min-height: 210px!important;
				.category-flex__block-menu-item {
					display: inline-block;
					vertical-align: top;
					width: 48%;
				}
			}
			&-menu {
				&-link {
					font-size: 16px;
				}
			}
			&-title {
				font-size: 22px;
			}
		}
	}
	// &.count-block-6 {
	// 	@include flex-wrap(wrap);
	// 	.category-flex__block {
	// 		flex-basis: 32.2%;
	// 		padding: 15px 22px;
	// 		min-height: 300px;
	// 		&-menu {
	// 			&-link {
	// 				font-size: 15px;
	// 			}
	// 		}
	// 		&-title {
	// 			font-size: 20px;
	// 		}
	// 	}
	// }
	// &.count-block-7 {
	// 	@include flex-wrap(wrap);
	// 	.category-flex__block {
	// 		flex-basis: 24%;
	// 		padding: 15px 22px;
	// 		min-height: 300px;
	// 		&:not(:nth-child(-n+4)) {
	// 			flex-basis: 32.2%;
	// 		}
	// 		&-menu {
	// 			&-link {
	// 				font-size: 15px;
	// 			}
	// 		}
	// 		&-title {
	// 			font-size: 20px;
	// 		}
	// 	}
	// }
	// &.count-block-8 {
	// 	@include flex-wrap(wrap);
	// 	.category-flex__block {
	// 		flex-basis: 24%;
	// 		padding: 15px 22px;
	// 		min-height: 300px;
	// 		&-menu {
	// 			&-link {
	// 				font-size: 15px;
	// 			}
	// 		}
	// 		&-title {
	// 			font-size: 20px;
	// 		}
	// 	}
	// }
	&__block {
		background: #fafafb;
		padding: 36px 40px;
		flex-basis: 32%;
		margin-bottom: 20px;
		background-size: cover!important; // под вопросом так как нет нужных фоток
		&-title {
			margin: 0 0 22px 0;
			color: #4f4f4f;
			letter-spacing: 1px;
			font-weight: bold;
			font-size: 20px;
		}
		&-menu {
			list-style-type: none;
			padding: 0;
			margin: 0;
			&-item {
				margin-bottom: 16px;
			}
			&-link {
				color: #323334;
				font-size: 16px;
				letter-spacing: 1px;
				border-bottom: 1px solid #cfcfd0;
				&:hover,
				&:focus {
					@include hoverlink;
				}
			}
		}
	}
}
// .description {
// 	&__block {
// 		margin: 30px 0;
// 		&-text {
// 			font-size: 32px;
// 			margin: 0;
// 			font-style: italic;
// 			color: #424548;
// 		}
// 	}
// }
.product-section {
	@include display(flex);
	@include flex-wrap(wrap);
	margin: 0 0 30px -40px;
	&.filter-edit {
		margin-bottom: 0;
		.product-section__block {
			flex-basis: 30%;
			&.x-2 {
				flex-basis: 46.4%;
			}
		}
	}
	&__block {
		border: 1px solid #ddd;
		border-radius: $br;
		background: #fff;
		flex-basis: 22.5%;
		margin: 0 -13px 30px 40px;
		overflow: hidden;
		padding-bottom: 19px;
		position: relative;
		@include transition(all 0.2s ease-in-out);
		&:hover {
			border: 1px solid $ruby;
			box-shadow: 0px 0px 3px $ruby;
		}
		&.x-2 {
			flex-basis: 34.88%;
		}
		&-description {
			padding: 0 20px;
		}
		&-link {
			color: inherit;
			&:focus,
			&:hover {
				text-decoration: none;
				color: inherit;
			}
		}
		&-img {
			&-wrap {
				position: relative;
				@include display(flex);
				@include align-items(flex-start);
				@include justify-content(center);
				margin: 0 auto 9px auto;
				min-height: 340px;
			}
		}
		&-name {
			font-family: $mss;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #454051;
			font-size: 18px;
			margin: 0 0 2px;
		}
		&-price {
			margin-bottom: 6px;
			&-old {
				color: #9fa0a1;
				display: inline-block;
				position: relative;
				font-weight: bold;
				margin-right: 10px;
				font-size: 16px;
				letter-spacing: 2px;
				&:before {
					content: '';
					@include position(absolute, 11px null null 0);
					@include transform(rotate(8deg));
					width: 100%;
					height: 1px;
					background: $ruby;
				}
			}
			&-current {
				letter-spacing: 2px;
				font-weight: bold;
				font-size: 16px;
				color: $ruby;
			}
		}
		&-status {
			margin: 0;
			padding-left: 20px;
			font-family: $mss;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 12px;
			position: relative;
			&:before {
				content: '';
				@include position(absolute, 0 null null 0);
				background: url(../img/sprite.png) no-repeat;
				width: 12px;
				height: 12px;
			}
			&.in-have {
				color: #169f30;
				&:before {
					background-position: -132px -10px;
				}
			}
			&.waiting {
				color: #edae28;
				&:before {
					background-position: -100px -10px;
				}
			}
			&.in-product {
				color: #a8a6ac;
				&:before {
					background-position: -272px -10px;
				}
			}
			&.js-tooltip {
				cursor: help;
			}
		}
		&-badge {
			text-align: left;
			@include position(absolute, 25px null null 0);
			&-name {
				color: #fff;
				margin: 0 0 5px 0;
				padding: 10px 13px 6px 13px;
				display: inline-block;
				background: $ruby;
				position: relative;
				font-family: $mss;
				text-transform: uppercase;
				font-size: 10px;
				img {
					vertical-align: middle;
					margin-right: 7px;
					margin-top: -3px;
					display: inline-block;
				}
			    &:before {
			    	content: '';
			    	@include position(absolute, 0 -10px null null);
			    	height: 100%;
			    	border-bottom: 30px solid transparent;
			    	border-left: 10px solid #c1372a;
			    	border-top: 0px solid transparent;
			    }
			    &.triangle {
			    	&:before {
			    		border-bottom: 36px solid transparent;
			    	}
			    }
			    &:hover {
			    	color: #fff;
			    	text-decoration: none;
			    }
			}
		}
		&-link {
			&-wrap {
				@include position(absolute, null null 25px 0);
				
			}
			&-spin {
				display: block;
				width: 50px;
				height: 37px;
				margin: 0 auto 10px auto;
				background: url(../img/rotate.svg) 0 0 no-repeat;
			}
			&-video {
				display: block;
				width: 33px;
				height: 43px;
				margin: 0 auto 10px auto;
				background: url(../img/video.svg) 0 0 no-repeat;
			}
		}
	}
}
.buy-steps {
	margin-bottom: 70px;
	&__title {
		text-transform: uppercase;
		color: #454051;
		font-size: 20px;
		font-family: $mss;
		font-weight: 900;
		margin: 0;
		&.m-t-45 {
			margin-top: 45px;
		}
		&.m-t-20 {
			margin-top: 20px;
		}
	}
	&__text {
		margin: 0;
		font-family: $mss;
		line-height: 24px;
		padding-right: 10px;
		&-muted {
			margin: 12px 0 0 8px;
			color: #ababab;
			font-style: italic;
			font-family: $mss;
		}
	}
	&__line {
		position: relative;
		&.first {
			top: -25px;
			left: 57px;
			margin-bottom: -17px;
		}
		&.second {
			top: -7px;
		    left: 50px;
		    margin-bottom: 2px;
		}
		&.last {
			top: -25px;
			left: 58px;
			margin-bottom: -17px;
		}
	}
	&__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		&-item {
			font-family: $mss;
			margin-bottom: 3px;
			position: relative;
			padding-left: 12px;
			line-height: 22px;
			&:before {
				content: '';
				@include position(absolute, 11px null null 0);
				width: 5px;
				height: 1px;
				background: #454051;
			}
			& * {
				color: #ababab;
			}
		}
	}
	&__step-count {
		display: inline-block;
		margin: 0 14px 0 0;
		position: relative;
		background: url('../img/sprite.png') no-repeat -201px -45px;
		width: 42px;
		height: 42px;
		display: inline-block;
		color: #fff;
		font-family: $pt;
		font-weight: bold;
		font-size: 22px;
		text-align: center;
		padding: 5px 5px 5px 6px;
		margin-bottom: 4px;
	}
}
.news-preview {
	margin-bottom: 43px;
	&__block {
		border: 1px solid #ddd;
		@include transition(all 0.2s ease-in-out);
		max-width: 370px;
		margin: 0 auto 10px auto;
		&:hover {
			border: 1px solid $ruby;
			box-shadow: 0px 0px 3px $ruby;
		}
		&-img {
			&-wrap {

			}
		}
		&-text {
			color: #454051;
			margin: 0 0 10px 0;
			font-weight: 600;
			font-size: 16px;
			letter-spacing: 0.6px;
		}
		&-date {
			position: relative;
			padding-left: 25px;
			margin: 0;
			&:before {
				content: '';
				@include position(absolute, 1px null null 0);
				width: 16px;
				height: 17px;
				background: url(../img/sprite.png) -603px -10px no-repeat;
			}
		}
		&-description {
			padding: 26px 28px;
		}
	}
}
.seo-text {
	&__wrap {
		max-height: 145px;
		overflow: hidden;
		@include transition(all 0.2s ease-in-out);
		&.active {
			max-height: 20000px;
		}
	}
}
.seo-description {
	margin-top: -10px;
	margin-bottom: 65px;
	&__title {
		font-weight: 600;
		font-size: 18px;
		color: #424548;
		margin: 0;
		line-height: 29px;
		letter-spacing: 0.8px;
		text-transform: uppercase;
	}
	&__text {
		font-family: $mss;
		font-size: 15px;
		margin: 0 0 11px 0;
		line-height: 24px;
	}
	&__block {
		margin-left: 10px;
		max-height: 145px;
		margin-bottom: 20px;
		overflow: hidden;
		@include transition(all 0.2s ease-in-out);
		&.active {
			max-height: 2000px;
		}
	}
	&__trigger {
		color: #848c93;
		margin-left: 10px;
		border-bottom: 1px dotted;
		display: inline-block;
		&:hover,
		&:focus {
			color: $red;
			text-decoration: none;
			border-bottom: 1px dotted $red;
		}
	}
}
// конец CSS для главной

// 404 страница
.error-page {
	text-align: center;
	margin: 37px auto 96px;
	max-width: 700px;
	position: relative;
	&__img {
		float: right;
		margin: 81px 0 0 -46px;
		position: relative;
		left: -35px;
	}
	&__number {
		color: #e1e1e1;
		font-weight: bold;
		margin: 0;
		font-size: 250px;
		line-height: normal;
	}
	&__title {
		color: #454051;
		font-size: 20px;
		margin: 0 0 18px 0;
		font-weight: bold;
		letter-spacing: 1px;
	}
	&__text {
		font-size: 16px;
		margin: 0 0 40px 0;
		font-family: $mss;
		&-block {
			text-align: right;
			margin: -41px 326px 0 0;
		}
	}
}
// конец 404 страница

// хлебные крошки 
.breadcrumbs {
	// margin-bottom: 56px;
	margin-bottom: 26px;
	&__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		&-item {
			display: inline-block;
			vertical-align: top;
			position: relative;
			&:not(:first-child) {
				padding-left: 15px;
				&:before {
					content: '/';
					color: #7a7d80;
					@include position(absolute, 0 null null 4px);
				}
			}
		}
		&-link {
			color: #7a7d80;
			font-family: $mss;
			letter-spacing: -0.75px;
			font-size: 13px;
			border-bottom: 1px solid transparent;
			@include transition(all 0.2s ease-in-out);
			&:not(.current) {
				&:hover,
				&:focus {
					color: #323334;
					border-bottom: 1px solid #acadad;
					text-decoration: none;
				}
			}
			&.current {
				color: #bfbdbe;
				cursor: default;
				&:focus,
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
// конец хлебные крошки 

// css на странице контактов
.contact {
	// график работы 
	&__work-day {
		padding: 0;
		margin: 41px 0 0 0;
		list-style-type: none;
		@include display(flex);
		@include justify-content(space-between);
		&-item {
			display: inline-block;
			vertical-align: top;
			width: 60px;
			text-align: center;
			padding-bottom: 10px;
			&.current {
				background: $ruby;
				.contact__work-day-title {
					border-bottom: 2px solid $ruby;
					background: #fff;
					color: $ruby;
				}
				.contact__work-day-time {
					color: #fff;
				}
			}
		}
		&-title {
			display: block;
			color: #b1b1b2;
			border-bottom: 2px solid #f2f2f2;
			padding: 0 0 13px 0;
			margin: 0;
			margin-bottom: 1em;
		}
		&-time {
			display: block;
			font-size: 16px;
			color: #424548;
			margin-bottom: 5px;
			font-family: $mss;
			&.not-work {
				color: #ececec;
				margin-top: 30px;
			}
		}
	}
	// конец график работы
	&__block {
		font-size: 16px;
		&-text {
			margin: -11px 0 28px 0;
			letter-spacing: -0.4px;
		}
		&-info {
			font-size: 18px;
			color: #424548;
			margin: 0 0 15px 28px;
			position: relative;
			@include transition(all 0.2s ease-in-out);
			&:before {
				content: '';
				width: 17px;
				height: 17px;
				@include position(absolute, 4px null null -28px);
				background: url(../img/sprite.png) no-repeat;
			}
			&.phone {
				&:before {
					background-position: -166px -126px;
				}
			}
			&.address {
				&:before {
					background-position: -165px -100px;
				}
			}
			&.email {
				border-bottom: 1px solid #dedede;
				&:before {
					background-position: -166px -151px;
				}
				&:focus,
				&:hover {
					color: #424548;
					border-bottom: 1px solid #919191;
					text-decoration: none;
				}
			}
		}
	}
}

// главная карта в контактах 
.map {
	&__section {
		margin: 80px 0;
		&-wrap {
			height: 500px;
			width: 100%;
			pointer-events: none;
			position: relative;
			&:before {
				content: '';
				@include position(absolute, 0 null null 0);
				background: url(../img/sky-shadow.png) 0 0 no-repeat;
				width: 100%;
				height: 500px;
				margin: 0 auto;
				z-index: 2;
				background-size: 100% 100%;
			}
		}
		&-main-stage {
			pointer-events: auto;
		}
	}
}
.map,
.map__section-main-stage,
#myMap {
	width: 100%;
	height: 100%;
}
// конец главная карта в контактах 

// диллеры 
.dillers {
	padding: 50px 0;
	margin-bottom: -25px;
	background: #fcfcfc;
	&__map {
		width: 100%;
		height: 370px;
	}
	&__tab-nav {
		&-list {
			list-style-type: none;
			padding: 0;
			margin: 0 0 0 15px;
		}
		&-item {
			display: block;
			vertical-align: top;
			&:not(:last-child) {
				border-bottom: 1px dotted #d9d9d9;	
			}
		}
		&-link {
			color: #454051;
			padding: 10px 0;
			display: block;
			font-size: 16px;
			position: relative;
			&.current,
			&:hover,
			&:focus {
				color: #fff;
				text-decoration: none;
				background: $ruby;
				margin-left: -15px;
				padding-left: 15px;
				&:before {
					content: '';
					@include position(absolute, 0 -16px 0 null);
					// @include triangle(42px, $ruby, right)
					background: url('../img/menu-arrow.png') no-repeat 0 0;
					width: 17px;
					height: 100%;
					background-size: 100% 100%;
				}
			}
		}
	}
	&__tab {
		&-block {
			display: none;
			&.current {
				display: block;
			}
		}
	}
}
// конец диллеры 


// доставка
.delivery {
	&__img {
		margin: 10px 0 30px 0;
	}
	&__title {
		color: #454051;
		font-size: 20px;
		letter-spacing: 1px;
		font-weight: bold;
		margin: 0 0 15px 0;
	}
	&__text {
		margin: 0 0 10px 0;
		line-height: 26px;
		font-size: 16px;
		text-align: justify;
	}
	&__pay-block {
		text-align: center;
		padding: 15px;
		margin-top: 23px;
		border: 1px dashed #d1d5d9;
		border-radius: $br;
	}
}
// конец доставка

// текстовые превьюшки
.preview {
	&__block {
		border: 1px solid #eee;
		padding: 51px 8% 86px 8%;
		margin-bottom: 41px;
		&-text {
			text-align: justify;
			margin: 0 0 10px;
			font-size: 16px;
			line-height: 30px;
		}
		&-btn {
			padding: 25px 70px;
			&-wrap {
				margin-top: 54px;
				text-align: center;
			}
		}
	}
}
// конец текстовые превьюшки

// карта сайта
.sitemap {
	&__block {
		padding: 63px 6% 43px 6%;
		margin-bottom: 50px;
		border: 1px solid #eee;
		&-list {
			list-style-type: none;
			padding: 0;
			margin: 0 0 30px 0;
			.sitemap__block-list {
				padding-left: 20px;
				.sitemap__block-list-link {
					font-size: 14px;
				}
			}
			&-link {
				font-size: 15px;
				font-family: $mss;
				margin-bottom: 4px;
				display: inline-block;
				color: #323334;
				border-bottom: 1px solid transparent;
				@include transition(all 0.2s ease-in-out);
				&:hover,
				&:focus {
					text-decoration: none;
					color: #323334;
					border-bottom: 1px solid lighten(#323334, 60%);
				}
			}
		}
	}
}
// конец карта сайта


// пагинация 
.pagination {
	text-align: center;
	margin: 40px 0;
	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		&-item {
			display: inline-block;
			vertical-align: top;
			margin: 0 8px;
		}
		&-link {
			width: 40px;
			height: 40px;
			text-align: center;
			color: #454051;
			font-size: 20px;
			font-family: $mss;
			display: block;
			padding-top: 5px;
			border: 1px solid #f3f0f0;
			@include transition(all 0.2s ease-in-out);
			&.current,
			&:hover,
			&:focus {
				background: $ruby;
				border-color: $ruby;
				color: #fff;
				text-decoration: none;
			}
		}
		&-devider {
			display: block;
			vertical-align: top;
			margin: 0 5px;
			color: #b1b0b5;
			font-size: 20px;
			font-family: $mss;
		}
	}
}
// конец пагинация 

// список новостей
.news-list {
	&__block {
		border: 1px solid #eee;
		padding: 40px;
		margin-bottom: 30px;
		@include transition(all 0.2s ease-in-out);
		a {
			color: inherit;
			&:focus,
			&:hover {
				text-decoration: none;
				.subtitle {
					color: $ruby;
				}
			}
			.subtitle {
				@include transition(all 0.2s ease-in-out);
			}
		}
		&:hover {
			border-color: $ruby;
		}
		&-img {
			margin-bottom: 35px;
		}
		&-title {
			color: #424548;
			font-size: 20px;
			margin: 0 0 15px 0;
			font-weight: bold;
			letter-spacing: 1px;
		}
		&-text {
			font-size: 16px;
			font-family: $mss;
			line-height: 26px;
			margin: 0 0 21px;
		}
		&-date {
			position: relative;
			padding-left: 25px;
			margin: 0;
			&:before {
				content: '';
				@include position(absolute, 1px null null 0);
				width: 16px;
				height: 17px;
				background: url(../img/sprite.png) -603px -10px no-repeat;
			}
		}
	}
}
// конец список новостей

// сайтбар в новостях
.sidebar {
	// меню сайдбара
	&__menu {
		border: 1px solid #eee;
		padding: 25px;
		margin-bottom: 30px;
		&-list {
			padding: 0;
			margin: -7px 10px 0 0;
			list-style-type: none;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			&-item {
				&:not(:last-child) {
					border-bottom: 1px dotted #d9d9d9;
				}
			}
			&-link {
				@extend .dillers__tab-nav-link;
			    font-size: 14px;
			    letter-spacing: 0.6px;
			    padding: 11px 0;
			    &:hover,
			    &.current,
			    &:focus {
			    	margin-left: -26px;
			    	padding-left: 26px;
			    }
			}
		}
	}
	// конец меню сайтбара

	// преимущество 
	&__advantage {
		background: url(../img/g-border.png) 0 0 no-repeat;
		background-size: 100% 100%;
		padding: 19px 19px 15px 19px;
		margin-bottom: 30px;
		max-width: 300px;
		&-img {
			float: left;
		}
		&-title {
			color: #323334;
			vertical-align: top;
			line-height: 25px;
			margin: -5px 0 9px 86px;
		}
		&-text {
			margin: 0;
			clear: both;
			color: #6f6f6f;
			font-family: $mss;
		}
	}
	// конец преимущество 

	// шоурум
	&__showroom {
		max-width: 300px;
		border: 1px solid $ruby;
		padding: 19px 19px 16px 19px;
		@include clearfix;
		&-title {
			font-size: 46px;
			color: $ruby;
			margin: 0 0 9px;
			line-height: 33px;
			font-weight: bold;
			letter-spacing: 2px;
			&-val {
				color: #323334;
			}
			sup {
				font-size: 50%;
			    top: -20px;
			}
		}
		&-undertitle {
			margin: 0 0 14px;
			font-size: 18px;
			color: $ruby;
			font-family: $mss;
		}
		&-img {
			float: left;
		}
		&-text {
			font-family: $mss;
			font-size: 20px;
			margin: 17px 0 0 99px;
			color: #424548;
			line-height: 26px;
		}
	}
	// конец шоурум

	// теги
	&__tags {
		&-section {
			@extend .sidebar__menu;
			max-height: 180px;
			position: relative;
			overflow: hidden;
			@include transition(all 0.2s ease-in-out);
			&.active {
				max-height: 2000px;
				&:after,
				&:before {
					display: none;
				}
			}
			&:before {
				content: '';
				box-shadow: -17px -25px 40px #fff;
				width: 100%;
				height: 33px;
				margin: 0 -25px;
				position: absolute;
				bottom: 20px;
				left: 0;
				z-index: 22;
				background: rgba(255, 255, 255, 0.71);
				@include transition(all 0.2s ease-in-out);
			}
			&:after {
				content: '';
				@include position(absolute, null null 0 0);
				background: #fff;
				width: 100%;
				height: 40px;
				z-index: 23;
				@include transition(all 0.2s ease-in-out);
			}
		}
		&-block {
			&-trigger {
				color: #7a7d80;
				font-size: 14px;
				border-bottom: 1px dotted #cecece;
				position: absolute;
				bottom: 20px;
				left: 25px;
				z-index: 30;
				&:hover,
				&:focus {
					color: #7a7d80;
					text-decoration: none;
					border-bottom: 1px dotted #cecece;
				}
				&:hover {
					border-bottom: 1px dotted transparent;
				}
				&.active {
					bottom: 10px;
				}
			}
		}
		&-row {
			margin-left: -25px;
			margin-bottom: 15px;
		}
		&-link {
			font-size: 14px;
			padding: 4px 8px 4px 13px;
			position: relative;
			border-top: 1px solid $ruby;
			border-bottom: 1px solid $ruby;
			font-family: $mss;
			color: #323334;
			display: inline-block;
			line-height: 16px;
			margin-bottom: -1px;
			@include transition(all 0.2s ease-in-out);
			&:first-child {
				padding-left: 25px;
			}
			&:after {
					content: '';
					background: url(../img/tags-arrow.png) 0 0 no-repeat;
					width: 5px;
					height: 26px;
					z-index: 10;
					@include position(absolute, null -5px -1px null);
					@include transition(all 0.2s ease-in-out);
				}
			&.current,
			&:hover,
			&:focus {
				color: #fff;
				background: $ruby;
				text-decoration: none;
				&:after {
					background: url(../img/active-tags.png) 0 0 no-repeat;
				}
			}

		}
	}
	// конец теги
}


// страница новости 
.news-detail {
	border: 1px solid #eee;
	padding: 28px 40px;
	font-size: 16px;
	font-family: $mss;
	text-align: justify;
	margin-bottom: 50px;
	& * {
		line-height: 25px;
	}
	img {
		margin-bottom: 20px;
	}
	&__title {
		font-size: 30px;
		font-family: $main_font;
		font-weight: bold;
		margin: 0 0 11px 0;
		line-height: normal;
		letter-spacing: 1.6px;
	}
	&__date {
		@extend .news-list__block-date;
		margin: 0 0 26px;
		line-height: normal;
	}
	&__img {
		margin-bottom: 22px;
	}
}
// конец страница новости 

// блок о нас 
.about {
	margin-top: -23px;
	margin-bottom: 60px;
	&__bg {
		display: block;
		margin: auto;
	}
	&__block {
		border: 1px solid #eee;
		padding: 21px 35px 28px 35px;
		background: #fff;
		max-width: 815px;
		margin: -196px auto 81px auto;
		&-title {
			font-size: 50px;
			margin: 0 0 5px;
			font-weight: bold;
			letter-spacing: 1px;
		}
		&-text {
			font-family: $mss;
			line-height: 30px;
			font-size: 16px;
			margin: 0;
			text-align: justify;
		}
	}
	&__showroom {
		&-title {
			color: $ruby;
			margin: 0 0 23px;
			line-height: normal;
			font-size: 120px;
			font-weight: bold;
			line-height: 85px;
			span {
				color: #323334;
			}
		}
		&-undertitle {
			margin: 0 0 16px;
			font-family: $mss;
			font-size: 30px;
			letter-spacing: -0.6px;
		}
		&-text {
			margin: 0 -40px 32px 0;
			font-family: $mss;
			font-size: 16px;
			line-height: 30px;
		}
		&-note {
			font-size: 20px;
			margin: 24px 0 0 -10px;
			color: #424548;
			font-family: $mss;
			line-height: 30px;
		}
	}
}
// конец блок о нас 

// причины с нами работать 
.cause {
	&__block {
		background: #f8fafb url(../img/about-img.png) center left no-repeat;
		padding: 22px 0;
		&-title {
			margin: 40px 0 33px 0;
			text-align: center;
			font-weight: bold;
			font-size: 50px;
			letter-spacing: 2px;
		}
		&-list {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
		&-item {
			position: relative;
			margin-bottom: 47px;
			&-count {
				@extend .buy-steps__step-count;
				margin: 0;
				@include position(absolute, -4px null null -46px);
			}
			&-title {
				margin: 0 0 19px 16px;
				font-size: 20px;
				font-weight: bold;
				color: #424548;
				letter-spacing: 1px;
			}
			&-text {
				margin: 0 0 20px 15px;
				line-height: 30px;
				text-align: justify;
				font-size: 18px;
				letter-spacing: -1px;
			}
		}
	}
}
// конец причины с нами работать 

// дополнительне приемущества 
.ext-advantage {
	padding: 72px 0px 32px 0px;
	&__block {
		margin-bottom: 30px;
	}
	&__img {
		position: relative;
		top: 9px;
		left: 15px;
	}
	&__title {
		font-size: 30px;
		color: #454051;
		margin: 0 0 10px;
		letter-spacing: 1px;
		font-weight: bold;
	}
	&__text {
		color: #000;
		font-size: 16px;
		text-align: justify;
		margin: 0;
		line-height: 30px;
	}
}
// конец дополнительне приемущества 

// корзина
.cart {
	// состав заказа
	&__table {
		margin: -27px 0px 40px 0px;
		&-header {
			margin-bottom: -6px;
			padding: 20px;
			&-title {
				color: #9fa0a1;
				font-family: $mss;
				margin: 0;
			}
		}
		&-body {
			padding: 0 20px;
			border: 1px solid #ddd;
			&-item {
				border-bottom: 1px solid #ddd;
				margin: 0 -20px;
				padding: 20px;
			}
			&-img {
				border: 1px solid #ddd;
				max-width: 90px;
			}
			&-prod {
				// описание и картинка товара
				&-link {
					color: inherit;
					&:focus,
					&:hover {
						color: inherit;
						text-decoration: none;
					}
				}
				&-name {
					color: #424548;
					font-weight: bold;
					font-size: 20px;
					letter-spacing: 1px;
					margin: 17px 0 4px -10px;
					@include transition(all 0.2s ease-in-out);
					&:hover {
						color: $ruby;
					}
				}
				&-articul {
					color: #b1b0b5;
					margin: 0 0 0 -10px;
					font-size: 14px;
					padding-left: 30px;
					position: relative;
					&:before {
						content: '';
						@include position(absolute, 4px null null 2px);
						background: url('../img/sprite.png') no-repeat -17px -150px;
						width: 17px;
						height: 12px;
					}
				}
				// конец описание и картинка товара

				// материал товара
				&-material {
					&-wrap {
						margin:8px 0 0px 0;
					}
					&-img {
						max-width: 30px;
					}
					&-name {
						color: #000;
						opacity: 0.8;
						margin: 3px 0 0 10px;
						display: inline-block;
						font-size: 16px;
						font-family: $mss;
					}
				}
				// конец материал товара
				&-price {
					color: $ruby;
					font-size: 20px;
					letter-spacing: 1px;
					font-weight: bold;
					margin: 30px 0 0 0;
				}
				&-delete {
					border: none;
					background: none;
					position: relative;
					width: 20px;
					height: 20px;
					margin: 43px 0 0 -10px;
					text-align: center;
					&:before,
					&:after {
						content: '';
						@include position(absolute, 0 null null 0);
						width: 20px;
						height: 3px;
						background: #cbcbcb;
						@include transition(all 0.2s ease-in-out);
					}
					&:before {
						@include transform(rotate(45deg));
					}
					&:after {
						@include transform(rotate(-45deg));
					}
					&:hover {
						&:before,
						&:after {
							background: #a7a7a7;
						}
					}
				}
				&-counter {
					margin-top: 20px;
				}
			}
			&-total {
				&-block {
					padding: 24px 0 19px 0;
				}
				&-text {
					color: #9fa0a1;
					margin: 0 0 -6px 0;
					font-size: 16px;
					font-weight: 600;
				}
				&-price {
					color: $ruby;
					margin: 0;
					font-size: 33px;
					font-weight: bold;
					&-currency {
						display: inline-block;
						margin-left: 5px;
					}
				}
			}
		}
	}
	// конец состав заказа
	// форма в корзине
	&__form {
		&-footer {
			margin: 37px -37px 0 -37px;
			padding: 50px 37px 5px 37px;
			border-top: 1px solid #ddd;
			&-text {
				margin: 0 0 -5px 0;
				color: #9fa0a1;
				font-size: 16px;
				font-weight: 600;
			}
			&-total-price {
				color: $ruby;
				letter-spacing: 1px;
				font-weight: bold;
				font-size: 33px;
				margin: 0;
				&-currency {
					display: inline-block;
					margin-left: 5px;
				}
			}
			&-btn {
				padding: 19px 75px;
				&-wrap {
					text-align: right;
				}
			}
		}
	}
	// конец форма в корзине
}
// конец корзина 

// страница товара
.product {
	// превью
	&__thumb {
		display: inline-block;
		vertical-align: top;
		width: 90px;
		// margin-bottom: 20px;
		&-link {
			display: block;
			width: 90px;
			height: 90px;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			border: 1px solid #eee;
			margin-bottom: 20px;
			@include transition(all 0.2s ease-in-out);
			&:hover {
				border-color: $ruby;
				text-decoration: none;
			}
		}
		&-video {
			&-img {
				display: block;
				margin-top: 7px;
			}
			&-text {
				color: #9fa0a1;
				font-size: 14px;
				display: block;
				margin: 5px 0 0 0;
			}
		}
	}
	// конец превью
	// главное изображение
	&__main-img {
		float: right;
		width: calc(100% - 100px);
		border: 1px solid #eee;
		position: relative;
		text-align: center;
		vertical-align: top;
		display: inline-block;
		padding: 20px 0;
		position: relative;
		margin-bottom: 20px;
		&:before {
			content: '';
			@include position(absolute, 0 0 0 0);
			background: url('../img/magnifier.png') no-repeat center center;
			width: 100%;
			height: 100%;
			opacity: 0;
			margin: 0 auto;
			pointer-events: none;
			@include transition(all 0.2s ease-in-out);
		}
		&:hover {
			&:before {
				opacity: 1;
			}
		}
	}
	// конец главное изображение

	// преимущества
	&__advantage {
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);
		border: 1px solid #eee;
		padding: 25px;
		clear: both;
		&-block {
			flex-basis: 30%;
			&:nth-child(2) {
				padding: 0 40px;
				position: relative;
				&:before {
					content: '';
					@include position(absolute, 8px null null 0);
					width: 1px;
					height: 20px;
					background: #ddd;
				}
				&:after {
					content: '';
					@include position(absolute, 8px 0 null null);
					width: 1px;
					height: 20px;
					background: #ddd;
				}
			}
			&-img {
				display: inline-block;
				vertical-align: top;
				margin-right: 11px;
			}
			&-text {
				vertical-align: top;
				margin: -2px 0 0 0;
				display: inline-block;
				font-size: 14px;
				font-family: $mss;
			}
		}
	}
	// конец преимущества
	&__params {
		border: 1px solid #eee;
		// padding: 34px;
		padding: 33px 25px;
	}
	&__stock {
		&-text {
			text-transform: uppercase;
			color: #000;
			font-weight: 600;
			font-size: 14px;
			margin: 0 0 7px;
			letter-spacing: 1px;
		}
		&-address {
			line-height: normal;
			margin: 0 0 4px 0;
			letter-spacing: -0.7px;
			font-family: $mss;
		}
		&-map-trigger {
			margin: 3px 0 0 23px;
			letter-spacing: 1px;
			border-bottom: 1px dotted #7a7d80;
			color: #7a7d80;
			position: relative;
			display: inline-block;
			font-size: 14px;
			@include transition(all 0.2s ease-in-out);
			&:focus,
			&:hover {
				text-decoration: none;
				color: #323334;
				border-bottom: 1px dotted #323334;
				&:before {
					background-position: -164px -73px;
				}
			}
			&:before {
				content: '';
				@include position(absolute, 4px null null -23px);
				background: url('../img/sprite.png') no-repeat -164px -49px;
				width: 15px;
				height: 14px;
			}
		}
	}
	// цена в товаре
	&__price {
		&-old {
			color: #9fa0a1;
			font-size: 16px;
			margin: 4px 0 0px 0;
			line-height: normal;
			position: relative;
			font-weight: 600;
			display: inline-block;
			&:before {
				content: '';
				@include position(absolute, 10px null null 0);
				width: 100%;
				height: 1px;
				background: $ruby;
				@include transform(rotate(8deg));
			}
		}
		&-current {
			color: $ruby;
			font-size: 38px;
			letter-spacing: 1px;
			font-weight: bold;
			margin: -3px 0 20px 0;
			line-height: normal;
		}
		&-diller {
			margin:-20px 0 20px 3px;
			font-size: 15px;
			color: #111;
			font-weight: bold;
			* {
				color: #111;
				font-size: 13px;
				display: inline-block;
				margin-left: 6px;
				font-weight: normal;
			}
		}
	}
	// конец цены в товаре
	&__btn-submit {
		padding: 24px 0px 24px 43px;
		letter-spacing: 1px;
		position: relative;
		margin-bottom: 27px;
		&:before {
			content: '';
			@include position(absolute, 25px null null 44px);
			background: url('../img/sprite.png') no-repeat -11px -117px;
			width: 24px;
			height: 21px;
			@include transition(all 0.2s ease-in-out);
		}
		&:hover {
			&:before {
				left: 39px;
			}
		}
	}
	// табы в товаре 
	&__tab {
		&-list {
			list-style-type: none;
			margin: 50px 0 20px;
			padding: 0;
			border: 1px solid $ruby;
			border-radius: $br;
			@include display(flex);
			&-item {
				display: inline-block;
				vertical-align: top;
				flex-basis: 100%;
				text-align: center;
			}
			&-link {
				display: block;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 14px;
				color: #000;
				font-weight: 600;
				padding: 20px 3px;
				position: relative;
				@include transition(all 0.2s ease-in-out);
				&:focus,
				&:hover {
					background: $ruby;
					color: #fff;
					text-decoration: none;
				}
				&.current {
					background: $ruby;
					color: #fff;
					cursor: default;
					&:before {
						content: '';
						@include position(absolute, null 0 -12px 0);
						margin: 0 auto;
						@include triangle(22px, $ruby, down);
					}
				}
			}
		}
		&-content {
			&-block {
				display: none;
				margin: 35px 0;
				&.current {
					display: block;
				}
				& > *:not(.row) {
					font-size: 16px;
					font-family: $mss;
					margin: 0 0 13px;
					letter-spacing: 0.8px;
					line-height: 25px;
				}
				&-title {
					font-weight: bold!important;
					font-family: $main_font!important;
					letter-spacing: 1px!important;
					line-height: normal!important;
					font-size: 20px!important;
					margin: 0 0 16px!important;
					color: #424548!important;
				}
				&-seo-text {
					color: #7a7d80;
					font-family: $main_font;
					margin: 0 0 10px;
					a {
						color: #7a7d80;
						border-bottom: 1px solid rgba(122, 125, 128, 0.41);;
						@include transition(all 0.2s ease-in-out);
						&:focus,
						&:hover {
							color: $ruby;
							text-decoration: none;
							border-bottom: 1px solid $ruby;
						}
					}
				}
				&-prop {
					&.js-custom-scroll {
						max-height: 300px;	
					}
					&-list {
						list-style-type: none;
						padding: 0;
						margin: 0 0 40px 0;
						&:not(:last-child) {
							border-bottom: 1px solid #eee;
							padding-bottom: 10px;
						}
						&-item {
							text-align: center;
							display: inline-block;
							vertical-align: top;
							margin: 0 10px 30px 10px;
							width: 10.27%;
						}
						&-img {
							margin-bottom: 10px;
						}
						&-name {
							font-size: 14px;
							margin: 0;
							color: #000;
						}
					}
					&-title {
						display: inline-block;
						font-weight: bold;
						color: #424548;
						margin: 0;
						font-size: 20px;
						&-wrap {
							margin-bottom: 20px;
						}
					}
					&-price {
						color: $ruby;
						margin: 0 0 0 10px;
						font-weight: bold;
						display: inline-block;
						font-size: 16px;
					}
				}
				&-img {
					display: block;
					margin: auto;
				}
				&-testimonial {
					&-name {
						font-size: 18px;
						font-weight: bold;
						margin: 0 0 10px;
						display: inline-block;
					}
					&-text {
						line-height: 20px;
						margin: 0;
						font-family: $mss;
						font-size: 16px;
					}
					&-rating {
						display: inline-block;
						vertical-align: top;
						margin: 0 0 0 10px;
						img {
							margin-right: 3px;
						}
					}
				}
				&-table {
					border: none;
					table-layout: fixed;
					td {
						padding: 5px 14px 5px 5px;
					}
					td:first-child {
						color: #737373;
						// width: 30%;
						text-align: right;
					}
					td:last-child {
						color: #000;
					}
				}
			}
		}
		&-composition {
			&-section {
				@include display(flex);
				@include flex-wrap(wrap);
				@include justify-content(space-between);
			}
			&-block {
				border: 1px solid #eee;
				padding: 20px;
				flex-basis: 32%;
				margin: 0 0 30px;
				@include transition(all 0.2s ease-in-out);
				&:hover {
					border: 1px solid $ruby;
					box-shadow: 0 0 3px $ruby;
				}
			}
			&-title {
				margin: 10px 0 0 0;
				color: #454051;
				font-family: $ar;
				font-size: 18px;
			}
			&-parametrs {
				color: #a8a6ac;
				margin: 0;
				font-size: 12px;
				font-family: $mss;
			}
			&-price {
				color: $ruby;
				font-size: 20px;
				font-weight: bold;
				margin: 0;
			}
			&-img-holder,
			&-description {
				@include display(flex);
				@include flex-wrap(wrap);
				@include align-items(center);
				@include justify-content(center);
			}
			&-description {
				* {
					flex-basis: 100%;
				}
			}
		}
	}
	// блок поделиться 
	&__share {
		margin: 30px 0;
		padding: 32px 38px;
		border: 1px solid #eee;
		&-title {
			color: #424548;
			margin: 0 0 16px 0;
			font-weight: bold;
			font-size: 20px;
			letter-spacing: 1px;
		}
	}
	// конец блок поделиться 
	// 360
	&__spritespin {
		cursor: pointer;
		&-zoom {
			background: url(../img/magnifier.png) 0 0 no-repeat;
			display: inline-block;
			width: 32px;
			height: 32px;
			&.active {
				background: url(../img/magnifier-minus.png) 0 0 no-repeat;
			}
		}
	}
}
// конец страница товара

// страница фильтра
.filter {
	&__block {
		border: 1px solid #eee;
		padding: 25px 28px;
		margin-bottom: 31px;
		&-result {
			float: right;
			margin-top: -21px;
		}
		&-text {
			color: #9fa0a1;
			margin: 0 7px 0 0;
			font-family: $mss;
			display: inline-block;
		}
		&-sorting {
			position: relative;
			&-current {
				cursor: pointer;
				color: #585858;
				border-bottom: 1px dotted #cecece;
				position: relative;
				&:hover {
					border-bottom: 1px dotted transparent;
				}
				&:before {
					content: '';
					@include position(absolute, 10px -14px null null);
					@include triangle(8px, #eee, down);
				}
				&.active {
					&:before {
						border-top: none;
						@include triangle(8px, #eee, up);
					}
				}
			}
			&-val {
				cursor: pointer;
				display: block;
				padding: 3px 7px;
				font-family: $mss;
				@include transition( 0.2s ease-in-out);
				&:not(:last-child) {
					border-bottom: 1px solid #eee;
				}
				&.active,
				&:hover,
				&:focus {
					background: $ruby;
					color: #fff;
				}
			}
			&-list {
				display: none;
				background: #fff;
				@include position(absolute, 25px null null 72px);
				border: 1px solid #eee;
				width: 200px;
				z-index: 10;
			}
		}
	}
	&__sidebar {
		border: 1px solid #eee;
		margin-bottom: 30px;
		padding: 22px 28px 12px 28px;
	}
	&__price-range-block {
		height: 50px;
		border: 1px solid #eee;
		position: relative;
		&:before {
			content: '';
			@include position(absolute, 45% 0 null 0);
			width: 5px;
			height: 2px;
			background: #eee;
			margin: 0 auto;
		}
		&-input {
			border: none;
			background: none;
			width: 48%;
			margin-top: 11px;
			font-size: 16px;
			font-family: $mss;
			display: inline-block;
			vertical-align: top;
			text-align: center;
		}
	}
}
// конец страница фильтра










// css для модального
.md-content {
	border-radius: $br;
	width: 630px;
	position: relative;
	padding: 36px 38px;	
}
.md-title {
	color: $ruby;
	font-weight: bold;
	font-size: 22px;
	margin: 0 0 40px;
}
.md-close {
	text-indent: -9999px;
	background: none;
	border: none;
	@include position(absolute, 7px 40px null null);
	border: none;
	background: none;
	width: 20px;
	height: 20px;
	margin: 43px 0 0 -10px;
	text-align: center;
	&:before,
	&:after {
		content: '';
		@include position(absolute, 0 null null 0);
		width: 20px;
		height: 3px;
		background: #cbcbcb;
		@include transition(all 0.2s ease-in-out);
	}
	&:before {
		@include transform(rotate(45deg));
	}
	&:after {
		@include transform(rotate(-45deg));
	}
	&:hover {
		&:before,
		&:after {
			background: #a7a7a7;
		}
	}
}
.md-map-wrap {
	width: 100%;
	height:  260px;
	margin-bottom: 57px;
}
.md-stock-address {
	color: #7a7d80;
	border-bottom: 1px dotted;
	letter-spacing: 1px;
	@include transition(all 0.2s ease-in-out);
	&:hover,
	&:focus {
		text-decoration: none;
		color: $ruby;
	}
}
.md-footer {
	text-align: right;
	padding-top: 20px;
	&__total-text {
		display: block;
		margin: -3px 0 -8px 0;
		line-height: normal;
		color: #9fa0a1;
		font-weight: 600;
		font-size: 16px;
	}
	&__total-price {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		color: $ruby;
		font-size: 33px;
		margin: 0 20px 0 0;
		font-weight: bold;
		&-currency {
			display: inline-block;
			margin-left: 5px;
		}
	}
}
// конец сss для модального

#modal-frame,
#modal-material {
	min-width: 1px;
	max-width: none;
	width: auto;
	.md-content {
		width: auto;
	}
	.product__tab-content-block-prop-list-img {
		padding: 7px;
		border: 1px solid transparent;
		cursor: pointer;
		@include transition(all 0.2s ease-in-out);
		&.current,
		&:hover {
			border: 1px solid $ruby;
		}
	}
}