extends _layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title О нас
block content
	// блок о нас
	.about
		img.about__bg(src="img/about-bg.jpg", alt="about main bg")
		.container
			.about__block
				p.about__block-title О нас
				p.about__block-text Компания Status group вот уже более 20 лет является ведущим оптовым импортером и производителем высококачественной мебели для офиса и дома. Мы работаем только напрямую с лучшими фабриками и эксклюзивно представляем их продукцию на территории Украины. Кроме этого, благодаря собственному высокотехнологическому производству  наша компания занимается изготовлением мебели по индивидуальным проектам клиентов.
			.row
				.col-sm-6
					img(src="img/view.jpg", alt="view")
				.col-sm-6
					p.about__showroom-title 3,000 
						span м<sup>2</sup>
					p.about__showroom-undertitle Площадь выставочного центра
					p.about__showroom-text Магазин офисной мебели вот уже более 20 лет радует своих клиентов эксклюзивной мебельной продукцией. Его площадь	 насчитывает более 3000 тыс. квадратных метров это самый большой в Украине салон офисной мебели.
					.row
						.col-sm-3
							img(src="img/showroom-large.png", alt="showroom")
						.col-sm-7
							.about__showroom-note Это как <span class="color-ruby">4</span><br>теннисных корта!
	// конец блок
	// причины работать с нами
	.cause__block
		.container
			.row
				.col-sm-8.col-sm-offset-2
					h2.cause__block-title 5 причин работать с нами
					ul.cause__block-list
						li.cause__block-item
							p.cause__block-item-count 1
							p.cause__block-item-title Надежно
							p.cause__block-item-text Наша компания – это крупнейший поставщик мебели для офиса и дома в Украине;
						li.cause__block-item
							p.cause__block-item-count 2
							p.cause__block-item-title В наличии
							p.cause__block-item-text Весь ассортимент представленной продукции находится на нашем оптовом складе. Вам не нужно ждать неделями поставки, мы отгружаем заказанную продукцию уже в день покупки;
						li.cause__block-item
							p.cause__block-item-count 3
							p.cause__block-item-title Наглядно
							p.cause__block-item-text Для удобства клиентов построен огромный шоу рум нашей продукции – более 3000 тыс. квадратных метров;
						li.cause__block-item
							p.cause__block-item-count 4
							p.cause__block-item-title Удобно
							p.cause__block-item-text Мы оказываем полный спектр услуг: бесплатная доставка, сборка мебели, сервисное, гарантийное и послегарантийное обслуживание нашей продукции;
						li.cause__block-item
							p.cause__block-item-count 5
							p.cause__block-item-title Актуально
							p.cause__block-item-text Постоянно растущий и расширяющийся ассортимент продукции позволяет нам всегда предлагать вам новинки мирового мебельного производства;
							br
							p.cause__block-item-text Став нашим клиентом, вам остаётся только выбрать подходящую мебель, а все вопросы по доставке, сборке, гарантийному и сервисному обслуживанию мы возьмём на себя.
						
	// конец причины работать с нами
	// доп приемущества
	.ext-advantage
		.container
			.row
				.col-sm-9.col-sm-offset-1
					.ext-advantage__block
						.row
							.col-sm-3.col-md-2
								img.ext-advantage__img(src="img/advant-1.png", alt="advant")
							.col-md-10.col-sm-9
								p.ext-advantage__title Дизайнерам
								p.ext-advantage__text Компания Статус групп приглашает к сотрудничеству дизайнеров и архитекторов с целью совместной работы над созданием проектов для оформления ваших интерьеров. Мы предлагаем специальные формы сотрудничества, системы скидок и поощрений. Кроме того, плюсом работы с нами является то, что вся наша продукция находится в наличии, сроки поставки составляют всего 1-2 рабочих дня, что позволяет вам без особых усилий выполнить любой проект в чётко поставленные сроки.
					.ext-advantage__block
						.row
							.col-sm-3.col-md-2
								img.ext-advantage__img(src="img/advant-2.png", alt="advant")
							.col-md-10.col-sm-9
								p.ext-advantage__title Корпоративным клиентам
								p.ext-advantage__text Наша компания всегда готова к сотрудничеству с корпоративными заказчиками по оформлению офисов, административных зданий, гостиниц, банков, коттеджных посёлков и частных апартаментов. Мы обеспечиваем бесплатную доставку и сборку нашей продукции по всем регионам Украины. Кроме того, мы предлагаем нашим клиентам не только продукцию, но ещё и её гарантийное и сервисное обслуживание. А оптовый склад и большой шой рум готовой продукции позволят вам выбирать не по каталогам, а исключительно "вживую" из наличия.
					.ext-advantage__block
						.row
							.col-sm-3.col-md-2
								img.ext-advantage__img(src="img/d3.png", alt="advant")
							.col-md-10.col-sm-9
								p.ext-advantage__title Оптовым клиентам
								p.ext-advantage__text Приглашаем к сотрудничеству оптовых покупателей и дилеров во всех регионах Украины. Компания “Статус Групп” предлагает вам огромный выбор мебели для офиса и дома. У нас всегда можно купить мебель оптом. Обладая эксклюзивными правами на предлагаемую нами продукцию на территории Украины, которые получены от фабрик производителей, мы можем предложить вам максимально комфортные условия сотрудничества с нами.
	// конец доп приемущества