extends _layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Оплата и доставка
block content
	.container
		.row
			.col-sm-12.col-xs-12
				// хлебные крошки
				include includes/components/_breadcrumbs
				// конец хлебные крошки
		h2.title
			span Оплата
		.row
			.col-sm-6.m-b-30.col-xxs-12.col-xs-6
				img.delivery__img(src="img/d1.png", alt="Deliver-payment")
				p.delivery__title Безналичный расчет
				p.delivery__text Получив счет-фактуру с печатью нашего предприятия по электронной почте или по факсу, осуществить банковский перевод денежных средств на наш расчетный счет. При этом оплату Вы можете производить любым удобным для Вас способом: через расчётный счёт своего предприятия, через отделение любого удобного для Вас банка. После поступления денег на расчетный счет нашего предприятия, мебель будет отправлена нашей службой доставки или компанией грузоперевозчиком (вам сообщают дату прибытия товара и № грузовой накладной.
				.delivery__pay-block
					img.delivery__pay-block-img(src="img/payments.png", alt="payments")
			.col-sm-6.m-b-30.col-xxs-12.col-xs-6
				img.delivery__img(src="img/d2.png", alt="Deliver-payment")
				p.delivery__title Наличный расчет
				p.delivery__text Посетив наш мебельный центр и оплатив на месте понравившуюся продукцию;
				p.delivery__text Водителю-экспедитору или курьеру по факту доставки. При предварительном согласование с менеджером нашей компании;
		br
		br
		h2.title
			span Доставка и сборка
		.row
			.col-sm-6.m-b-30.col-xxs-12.col-xs-6
				img.delivery__img(src="img/d3.png", alt="Deliver-payment")
				p.delivery__title Стоимость доставки
				p.delivery__text Фирменная продукция торговой марки Status group доставляется по территории Украины совершенно бесплатно!
				p.delivery__text Продукция наших партнёров доставляется по территории Украины согласно тарифов транспортных перевозчиков.
				p.delivery__text Более подробно об условиях доставки описано в карточке каждого товара.
			.col-sm-6.m-b-30.col-xxs-12.col-xs-6
				img.delivery__img(src="img/d4.png", alt="Deliver-payment")
				p.delivery__title Сборка мебели
				p.delivery__text Дополнительно может быть осуществлена сборка мебели штатными специалистами нашей компании в любом регионе Украины и в удобное для Вас время.
		br
		br
		h2.title
			span Гарантия
		.row
			.col-sm-6.m-b-30.col-xxs-12.col-xs-6
				img.delivery__img(src="img/d5.png", alt="Deliver-payment")
				p.delivery__title Гарантия
				p.delivery__text Гарантия на нашу продукцию составляет 12 месяцев. Более подробно о сроках гарантии указано в карточках товаров;
				p.delivery__text Если в течении срока настал гарантийный случай (при условии правильной эксплуатации продукции), мы оперативно заменим вышедшую из строя деталь или заменим товар на аналогичный. При условии, что с мебелью обращались в соответствии с гарантийными требованиями.
			.col-sm-6.m-b-30.col-xxs-12.col-xs-6
				img.delivery__img(src="img/d6.png", alt="Deliver-payment")
				p.delivery__title Не гарантийные случаи
				p.delivery__text Мебель была повреждена по вине покупателя в процессе эксплуатации; 
				p.delivery__text Отсутствует товарный чек и вся сопроводительная документация; 
				p.delivery__text Отсутствует оригинальная упаковка товара или она повреждена;
				p.delivery__text Поломка вызвана самостоятельной сборкой/транспортировкой товара покупателем;