extends _layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Главная страница
block content
	- index = true;
	.container
		.row
			.col-sm-12
				// блок с приемуществами
				.advantages
					.advantages__block
						img.advantages__block-img(src="img/a-img-1.png", alt="advantages")
						p.advantages__block-text От 24 до 48 часов на доставку
					.advantages__block
						img.advantages__block-img(src="img/a-img-2.png", alt="advantages")
						p.advantages__block-text Более 1000 крутых проектов
					.advantages__block
						img.advantages__block-img(src="img/a-img-3.png", alt="advantages")
						p.advantages__block-text Работаем 20 лет на рынке Украины
					.advantages__block
						img.advantages__block-img(src="img/a-img-4.png", alt="advantages")
						p.advantages__block-text Большой оптовый склад в Киеве
				// конец блок с приемуществами
		.row
			.col-sm-12.hidden-xs
				// секция с категориями продуктов
				.category-flex.count-block-3
					- for (i=1; i<=3; i++) {
						.category-flex__block(style="background: url(../img/content/cat-bg.jpg) 0 0 no-repeat;")
							p.category-flex__block-title Офисная мебель
							ul.category-flex__block-menu
								li.category-flex__block-menu-item
									a.category-flex__block-menu-link(href="#!") Кабинеты руководителя
								li.category-flex__block-menu-item
									a.category-flex__block-menu-link(href="#!") Конференц столы
								li.category-flex__block-menu-item
									a.category-flex__block-menu-link(href="#!") Мягкая мебель для офиса
								li.category-flex__block-menu-item
									a.category-flex__block-menu-link(href="#!") Оперативная мебель
								li.category-flex__block-menu-item
									a.category-flex__block-menu-link(href="#!") Столы для офиса
								li.category-flex__block-menu-item
									a.category-flex__block-menu-link(href="#!") Аксессуары для офиса
								li.category-flex__block-menu-item
									a.category-flex__block-menu-link(href="#!") Опоры для офисных столов
					- }
				// конец секция с категориями продуктов
		.row
			.col-md-10.col-md-offset-2.col-sm-12.hidden-xs
				// SEO с описанием
				.description__block
					p.description__block-text Компания Status group является одним из самых крупных украинских импортеров и производителей качественной мебели для офиса и дома. 
				// конец SEO с описанием
		.row
			.col-sm-12
				// блок хитов продаж
				p.title 
					span Хиты продаж
				// конец блок хитов продаж
				// блок с продуктами
				.product-section
					.product-section__block.descr-invers
						a(href="#!")
							img.product-section__block-img(src="img/content/img1.jpg", alt="prouct")
							.product-section__block-title
								p.product-section__block-name Hayden beige
								p.product-section__block-category кресло руководителя
							.product-section__block-price
								p.product-section__price 24 350
									span.product-section__price-currency грн
					.product-section__block
						a(href="#!")
							img.product-section__block-img(src="img/content/img2.jpg", alt="prouct")
							.product-section__block-title
								p.product-section__block-name Hayden beige Hayden beige
								p.product-section__block-category кресло руководителя
							.product-section__badge
								.product-section__badge-name кожа делюкс
							.product-section__block-price
								p.product-section__price 24 350
									span.product-section__price-currency грн
					.product-section__block.x-2
						a(href="#!")
							img.product-section__block-img(src="img/content/img-large.png", alt="prouct")
							.product-section__block-title
								p.product-section__block-name Hayden beige
								p.product-section__block-category кресло руководителя
							.product-section__block-price
								p.product-section__price 99 999
									span.product-section__price-currency грн
					.product-section__block.x-2
						a(href="#!")
							img.product-section__block-img(src="img/content/img-large.png", alt="prouct")
							.product-section__block-title
								p.product-section__block-name Hayden beige
								p.product-section__block-category кресло руководителя
							.product-section__block-price
								p.product-section__price 99 999
									span.product-section__price-currency грн
					- for (i=1; i<=6; i++) {
						.product-section__block
							a(href="#!")
								img.product-section__block-img(src="img/content/img2.jpg", alt="prouct")
								.product-section__block-title
									p.product-section__block-name Hayden beige
									p.product-section__block-category кресло руководителя
								.product-section__badge
									.product-section__badge-name кожа делюкс
								.product-section__block-price
									p.product-section__price #{i * 500}
										span.product-section__price-currency грн
					- }
				// конец блок с продуктами
		.row
			.col-sm-12
				// как купить
				p.title 
					span Как купить?
				.buy-steps
					.row
						.col-md-3.col-sm-6
							img.buy-steps__line.first.hidden-xs(src="img/first-line.png", alt="line")
							p.buy-steps__title
								img.buy-steps__step-count(src="img/one.png", alt="step-img")
								| Выбрать
							ul.buy-steps__list
								li.buy-steps__list-item выберите товар в каталоге
								li.buy-steps__list-item укажите материал и цвет выбранной модели
							p.buy-steps__text-muted Выбор материала, влияет<br>на стоимость товара!
						.col-md-3.col-sm-6
							p.buy-steps__title.m-t-45
								img.buy-steps__step-count(src="img/two.png", alt="step-img")
								| Заказать
							img.buy-steps__line.second.hidden-xs(src="img/second-line.png", alt="line")
							ul.buy-steps__list
								li.buy-steps__list-item через форму заказа, на странице выбранного товара
								li.buy-steps__list-item по телефону:<br><span>(095)</span> 385-01-01; <span>(067)</span> 385-01-01
						.col-md-3.col-sm-6
							img.buy-steps__line.last.hidden-xs(src="img/last-line.png", alt="line")
							p.buy-steps__title
								img.buy-steps__step-count(src="img/three.png", alt="step-img")
								| Оплатить
							p.buy-steps__text По факту получения счёта с печатью нашей компании, вы имеете возможность оплатить его любым доступным и удобным для Вас способом.
						.col-md-3.col-sm-6
							p.buy-steps__title.m-t-20
								img.buy-steps__step-count(src="img/four.png", alt="step-img")
								| Получить
							ul.buy-steps__list
								li.buy-steps__list-item самовывоз со склада или центрального офиса
								li.buy-steps__list-item бесплатная доставка в любой город Украины
				// конец как купить
		.row
			.col-sm-12
				// новости кампании
				p.title 
					span Новости кампании
				.news-preview
					.row
						- for (i=1;i<=3;i++) {
							.col-sm-4.col-xs-4.col-xxs-12
								.row
									.col-md-5.col-sm-12
										.news-preview__img-wrap
											a(href="#!")
												img.news-preview__img(src="img/content/news-th.jpg", alt="news-preview")
									.col-md-7.col-sm-12
										p.news-preview__date #{i} марта
										p.news-preview__text В «Статус Групп» проходят мастер-классы по дизайну
						- }
				// конец новости кампании
		.row
			.col-sm-12
				// SEO текст
				.seo-description
					.row
						.col-md-3.col-sm-4
							h1.seo-description__title Компания Status group - поставщик офисной мебели, кабинетов руководителя, офисных кресел
						.col-md-9.col-sm-8
							.seo-description__block.js-slide-anchor
								p.seo-description__text
									strong Компания Status group - поставщик офисной мебели, кабинетов руководителя, офисных кресел
								p.seo-description__text Компания Status group является одним из самых крупных украинских импортеров и производителей качественной мебели для офиса и дома. Главным отличием компании Статус групп от конкурентов является, то, что у нас вся продукция всегда есть в наличии на нашем оптовом складе. За счёт этого мы производим отгрузку товара покупателю уже в день заказа. Кроме того, для удобства наших клиентов мы построили огромный шоу-рум на более чем 3 000 квадратных метрах, где представлен весь ассортимент нашей продукции. Поэтому выбирать товар вы можете как по электронному каталогу интернет-сайта Status group, так посетив наш шоу-руме в Донецке. Компания Status group является одним из самых крупных украинских импортеров и производителей качественной мебели для офиса и дома. Главным отличием компании Статус групп от конкурентов является, то, что у нас вся продукция всегда есть в наличии на нашем оптовом складе. За счёт этого мы производим отгрузку товара покупателю уже в день заказа. Кроме того, для удобства наших клиентов мы построили огромный шоу-рум на более чем 3 000 квадратных метрах, где представлен весь ассортимент нашей продукции. Поэтому выбирать товар вы можете как по электронному каталогу интернет-сайта Status group, так посетив наш шоу-руме в Донецке.
							a.seo-description__trigger.js-slide-trigger(href="javascript:void(0);") Показать еще
				// конец SEO текст