extends _layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Кресла руководителя в Киеве
block content
	.container
		.row
			.col-sm-12.col-xs-12
				// хлебные крошки
				include includes/components/_breadcrumbs
				// конец хлебные крошки
		h2.title
			span Кресла руководителя в Киеве
		.row
			.col-sm-12
				.preview__block
					p.preview__block-text К примеру, рабочее место для удобной письменной работы выделено вставкой из эко кожи. В столешнице предусмотрено отверстие для маскировки кабелей офисной техники. Тумбу-помощник и мобильную тумбу можно установить с правой или с левой стороны письменного стола. За распашными дверцами и в нишах тумбы-помощника достаточно места для размещения офисной техники и расходных материалов. Выдвижной ящик мобильной тумбы гарнитура Chopen black закрывается на ключ. Основание стола и боковые части тумб отделаны эко кожей черного цвета – так дизайнерам удалось подчеркнуть статусность представленного гарнитура и придать ему более эстетичный вид. Все предметы мебели набора Chopen black изготовлены из высококачественного импортного МДФ. Глянцевый блеск панелям придает многослойное лаковое покрытие.
					.preview__block-btn-wrap
						a.btn.preview__block-btn(href="#!") Перейти в каталог
		h2.title
			span Лучшие предложения
		include includes/components/_same-products