// =====================  Variables

$main_font: 'Open Sans', sans-serif;
$main_color: #424548;

// ===== Fonts
$mss: 'Microsoft Sans Serif';
$ar: Arial, sans-serif;
$pt: 'PT Sans Caption';


// ===== Colors
$red: #da4a4a;
$ruby: #c1372a;


// ===== Constants
$br: 3px;


// ===== Mixins
@mixin hoverlink {
	text-decoration: none;
	color: $red;
	border-bottom: 1px solid #f0c9ca;
}