@media (max-width: 767px) {
	.header {
		&__top {
			&-menu {
				&-mob-btn {
					background: none;
					border: none;
				}
				&-list {
					margin-top: 10px;
				}
				&-item {
					&:not(:last-child) {
						margin-right: 10px;
					}
				}
				&-link {
					font-size: 14px;
					letter-spacing: 0;
				}
			}
			&-phone {
				display: block;
				margin-bottom: 3px;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					top: 3px;
					right: 120px;
					background: url(../img/sprite.png) -342px -10px no-repeat;
					width: 14px;
					height: 14px;
				}
				&-block {
					margin-left: -40px;
					&:before {
						display: none;
					}
				}
			}
		}
		&__bottom {
			&-menu {
				margin-left: 0;
				display: none;
				@include position(absolute, 88px null null 0);
				width: 100%;
				background: #fff;
				z-index: 10;
				&-item {
					display: block;
					width: 100%;
					text-align: center;
					padding: 15px 0;
					border-bottom: 1px solid #ddd;
					&:hover,
					&.active {
						.header__dropdown-block {
							padding: 10px 0;
						}
					}
					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(5) {
						.header__dropdown-block {
							left: 0;
							right: auto;	
						}
					}
				}
				&-link {
					display: block;
				}
			}
			&-search {
				position: absolute;
				top: 0;
				right: 160px;
			}
			[class^="col-"] {
				position: static;
			}
		}
		&__dropdown {
			&-block {
				position: relative;
				top: 20px;
				width: 100%;
			}
			&-menu {
				margin: 0;
			}
		}
	}
	.footer {
		&__top {
			&-flex {
				@include flex-wrap(wrap);
				@include justify-content(center);
				&-block {
					max-width: 240px;
					flex-basis: 100%!important;
					&:not(:last-child) {
						&:before {
							display: none;
						}
					}
				}
				&-title {
					&.social {
						margin-left: 0;
					}
				}
			}
			
		}
		&__social {
			margin-left: 25px;
		}
		&__bottom {
			@include flex-wrap(wrap);
			
			text-align: center;
			padding: 10px 0;
		}
		&__text {
			text-align: center !important;
		}
		&__copyright {
			left: 0;
		}
	}
	.title {
		font-size: 34px;
	}
	.advantages {
		margin: 0 auto 40px auto;
		max-width: 340px;
		@include flex-wrap(wrap);
		&__block {
			flex-basis: 100%!important;
			margin-bottom: 20px;
			@include flex-wrap(wrap);
			&-img {
				display: block;
				margin: 0 auto 10px auto;
				float: none;
			}
			&-text {
				border-right: none;
				width: 100%;
				text-align: center;
				padding: 0;
			}
		}
	}
	.product-section {
		margin: 0 0 40px 0;
		&__block {
			flex-basis: 100%;
			max-width: 320px;
			margin: 0 auto 20px auto;
			&-img-wrap {
				min-height: 1px;
			}
			&.x-2 {
				flex-basis: 100%;
				max-width: 320px;
				margin: 0 auto 20px auto;
			}
		}
		&.filter-edit {
			.product-section__block {
				flex-basis: 100%;
				max-width: 300px;
				&.x-2 {
					flex-basis: 100%;
				}
			}
		}
	}
	.buy-steps {
		&__title {
			margin-top: 30px !important;
		}
	}
	.news-preview {
		&__block {
			max-width: 295px;
			margin: 0 auto 30px auto;
		}
	}
	.seo-description {
		&__title {
			margin-bottom: 20px;
		}
		&__block {
			margin: 0 0 20px 0;
		}
		&__trigger {
			margin: 0;
		}
	}
	.morphsearch.open {
		overflow-x: hidden;
		width: 100%;
		min-height: 100%;
		top: 0px;
		right: 0;
		.morphsearch-input {
			font-size: 30px;
		}
		.morphsearch-form {
			margin-top: 0;
		}
	}
	.morphsearch-content {
		padding-right: 20px;
		margin-top: 3.5em;
	}
	.morphsearch-close {
		right: 1em;
	}
	.error-page {
		margin: -33px auto 60px;
		&__text-block {
			margin: 0;
			text-align: center;
		}
	}
	.about {
		margin-bottom: 15px;
		&__block {
			margin: -20px 0 40px 0;
			&-title {
				font-size: 32px;
			}
		}
		&__showroom {
			&-main-img {
				display: block;
				margin: 0 auto 10px auto;
			}
			&-title {
				line-height: normal;
				font-size: 80px;
				margin: 0;
			}
			&-text {
				margin: 0 0 32px 0;
			}
		}
	}
	.cause {
		&__block {
			background: #f8fafb;
			&-title {
				font-size: 28px;
			}
			&-list {
				padding-left: 70px;
				padding-right: 15px;
			}
		}
	}
	.form {
		&-input {
			&-counter {
				position: relative;
				z-index: 10;
				&__input {
					width: 100%;
				}
				&__label {
					right: 40px;
					left: auto;
				}
			}
		}
	}
	.cart {
		&__table {
			&-body {
				margin-top: 60px;
				&-prod {
					&-name {
						margin: 17px 0 4px 0;
					}
					&-articul {
						margin: 0 0 15px 0;
					}
					&-counter {
						margin-top: 0;
					}
					&-delete {
						border: none;
						background: none;
						outline: none;
						text-align: center;
						-webkit-transition: all 0.2s ease-in-out;
						-moz-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						color: #fff;
						letter-spacing: 2px;
						font-size: 14px;
						font-weight: 600;
						border-radius: 3px;
						background: #c1372a;
						box-shadow: 0 2px 0 #9f2d23;
						text-transform: uppercase;
						border-bottom: 2px solid #a02e23;
						padding: 15px 27px 15px 43px;
						width: auto;
						height: auto;
						max-width: 150px;
						margin: 20px 0 0 0;
						color: #fff;
						display: block;
						text-align: left;
						clear: both;
						position: relative;
						z-index: 10;
						&:before,
						&:after {
							top: 23px;
							left: 15px;
							background: #fff;
						}
					}
					&-price {
						font-size: 32px;
						margin: 0;
					}
				}
				&-total {
					&-text {
						margin: 0 0 -6px -15px;
					}
					&-price {
						margin: 0 0 0 -15px;
						font-size: 42px;
					}
				}
			}
			&-header {
				&-title {
					margin-bottom: 10px;
					clear: both;
				}
			}
		}
		&__form {
			&-footer {
				margin: 37px -17px 0 -17px;
				padding: 20px 17px 5px 17px;
				&-btn {
					padding: 15px 0;
					display: block;
					width: 100%;
					margin-top: 15px;
				}
			}
		}
	}
	.flex-section {
		& > div {
			margin-bottom: 30px;
		}
	}
	.border-panel {
		padding: 13px 17px;
	} 
	.contact {
		&__work {
			&-day  {
				margin-bottom: 20px;
			}
		}
	}
	.dillers {
		&__tab {
			&-nav {
				&-list  {
					padding-right: 30px;
					margin-bottom: 30px;
				}
			}
		}
		&__map {
			height: 250px;
		}
	}
	.filter {
		&__sidebar {
			display: none;
			padding: 12px 18px 12px 18px
		}
	}
	.sidebar {
		&__menu {
			display: none;
		}
		&__advantage ,
		&__showroom {
			margin: 0 auto 30px auto;
			max-width: 320px
		}
	}
	.news-list{
		&__block {
			padding: 15px;
		}
	}
	.news-detail {
		padding: 15px;
		&__title {
			font-size: 22px;
			text-align: left;
		}
	}
	.preview__block {
		padding: 20px 20px 66px 20px;
	}
	.sitemap__block {
		padding: 25px 20px 25px 20px;
	}
	.product {
		&__advantage {
			padding: 15px;
			margin: 0 auto 30px auto;
			max-width: 350px;
			@include flex-wrap(wrap);
			&-block {
				flex-basis: 100%;
				text-align: center;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
				&:nth-child(2) {
					&:before,
					&:after {
						display: none;
					}
				}
				&-img {
					display: block;
					margin: 0 auto 10px auto;
				}
			}
		}
		&__params {
			padding: 15px 10px;
			.cart__table-body-prod-articul {
				margin: 10px 0 0 0;
				display: inline-block;
			}
		}
		&__share {
			padding: 18px 18px 22px 18px;
		}
		&__tab {
			&-content {
				&-block {
					&-img {
						margin: 0 auto 15px auto;
					}
					&-prop-list-item {
						width: 28%;
						margin: 0 5px 10px 5px;
					}
					&-prop {
						&.js-custom-scroll {
							max-height: 210px;
						}
					}
				}
			}
			&-list {
				display: block;
				&-item {
					display: block;
				}
				&-link {
					&.current {
						&:before {
							display: none;
						}
					}
				}
			}
			&-composition {
				&-block {
					flex-basis: 100%;
				}
			}
		}
		&__btn-submit {
			padding: 20px 0px 20px 38px;
			max-width: 278px;
			&:before {
				top: 20px;
			    left: 28px;
			}
		}
	}
	#modal-frame, #modal-material {
		width: 90%;
		height: 90%;
	}
	.md-content {
		padding: 15px;
	}
	.md-title {
		margin: 0 0 10px;
	}
	.md-button {
		font-size: 12px;
		padding: 9px 15px;
		float: right;
	    margin-top: 10px;
	}
	.md-footer {
		padding-top: 0;
		&__total-price {
			font-size: 27px;
			margin: 7px 10px 0 0;
			float: left;
		}
	}
	.md-close {
		right: 15px;
	    margin: 23px 0 0 0px;
	}
}
@media (max-width: 499px) {
	.hidden-xxs {
		display: none!important;
	}
	.visible-xxs {
		display: block !important;
	}
	.col-xxs-offset-4 {
		margin-left: 33.3333%;
	}
	.title {
		font-size: 28px;
	}
	.xxs-text-left {
		text-align: left !important;
	}
	.header {
		&__top {
			&-menu {
				&-list {
					display: none;
					width: 185px;
					border: 1px solid #ddd;
					padding: 10px 15px;
					background: #f6f8f9;
					position: absolute;
					z-index: 10;
					top: 40px;
					left: 15px;
				}
				&-mob-btn {
					top: 14px;
				}
				&-item {
					display: block;
					margin-bottom: 5px;
				}
			}
			&-search {
				top: 14px;
			}
			&-phone {
				&-block {
					margin-right: 40px;
				}
			}
		}
		&__bottom {
			&-logo {
				height: 87px;
			    background: #C1372A;
			    @include display(flex);
			    @include align-items(center);
			}
			&-menu {
				&-item {

				}
				&-mob-btn {
					top: 32px;
				}
			}
		}
		&__dropdown {
			&-block {
				background: #f5f7f9!important;
			}
			&-menu {
				&-item {
					width: 100%;
					display: block;
					text-align: center;
				}
			}
		}
	}
	.footer {
		&__top {
			padding-bottom: 0;
			&-flex {
				&-block  {
					margin-bottom: 30px;
				}
			}
		}
	}
	.error-page__number {
		font-size: 145px;
	}
	.ext-advantage {
		padding: 33px 0px 32px 0px;
		&__img {
			display: block;
			margin: 0 auto 15px auto;
			top: 0;
			left: 0;
		}
		&__title {
			text-align: center;
		}
	}
	.cause {
		&__block {
			&-list {
				padding: 0;
			}
			&-item {
				&-text {
					margin: 0 0 20px 0;
				}
				&-count {
					left: 0;
				}
				&-title {
					margin: 0 0 19px 56px;
				}
			}
		}
	}
	.about {
		&__showroom {
			&-title {
				font-size: 64px;
			}
			&-undertitle {
				font-size: 20px;
			}
		}
	}
	.cart {
		&__table {
			&-body{
				&-prod{
					&-counter {
						margin: 20px 0;
					}
					&-price {
						margin: -10px 0 10px 0;
					}
				}
			}
		}
		&__form-footer-total-price {
			font-size: 42px;
		}
	}
	.contact {
		&__work {
			&-day {
				@include justify-content(flex-start);
				@include flex-wrap(wrap);
				&-item {
					flex-basis: 100%;
					max-width: 55px;
					margin-right: 10px;
				}
			}
		}
		&__block {
			&-info {
				font-size: 15px;
			}
		}
	}
	.map__section-wrap {
		height: 300px;
		&:before {
			height: 300px;
		}
	}
	.filter {
		&__block {
			padding: 15px 18px;
			&-result {
				float: none;
				margin-top: 15px;
			}
		}
	}
	.pagination__list-item {
		margin: 9px;
	}
	.product {
		&__thumb {
			width: 60px;
			&-link {
				width: 60px;
				height: 60px;
				overflow: hidden;
			}
			&-video-img {
				margin-top: 0;
			}
		}
		&__main-img {
			width: calc(100% - 70px);
		}
		&__tab-content-block-prop-list-item {
		    width: 40%;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.header {
		&__menu {
			text-align: center;
			margin: 0;
		}
		&__work-time {
			text-align: center;
			margin: 10px 0;
		}
		&__phone {
			margin-top: 5px;
			font-size: 22px;
		}
		&__top {
			&-phone {
				&-block {
					&:before {
						left: 29px;
					}
				}
			}
			&-menu-item {
				&:not(:last-child) {
					margin-right: 15px;
				}
			}
		}
		&__address-block {
			margin: 0;
		}
		&-category__menu-link {
			font-size: 17px;
		}
		&__bottom {
			&-menu {
				margin-left: -30px;
				margin-right: -40px;
				&-item {
					padding: 13px 0px 11px 34px;
					&:hover {
						.header__dropdown-block {
							padding: 10px 0 14px 0;
						}
					}
				}
				&-link {
					letter-spacing: 0px;
					font-size: 15px;
				}
			}
			&-basket {
				margin: 2px 0 0 0;
				&-img-link {
					left: -40px;
				}
			}
			&-search {
				margin: 0px 0 0 15px;
				position: relative;
				top: -8px;
			}
		}
		&__dropdown {
			&-block {
				width: 510px;
				top: 47px;
			}
			&-menu {
				margin: 0 0 0 25px;
				&-link {
					font-size: 14px;
					padding: 6px 0;
				}
				&-item {
					width: 230px;
				}
			}
		}
		&.count-cat-4 {
			.header__bottom {
				&-menu {
					&-item {
						padding: 14px 0px 14px 18px;
					}
					&-link {
						letter-spacing: 0px;
						font-size: 13px;
					}
				}
			}
			.header__dropdown-block {
				top: 47px;
			}
		}
		&.count-cat-5 {
			.header__bottom {
				&-menu {
					margin-right: -87px;
					&-item {
						padding: 15px 0px 14px 11px;
					}
					&-link {
						letter-spacing: 0px;
						font-size: 12px;
						font-weight: normal;
					}
				}
			}
			.header__dropdown-block {
				top: 47px;
				left: -96px;
			}
		}
	}
	.advantages {
		padding: 20px;
		@include flex-wrap(wrap);
		&__block {
			flex-basis: 50%;
			position: relative;
			margin: 10px 0;
			&:first-child {
				flex-basis: 50%;
			}
			&-text {
				border-right: none;
				@include position(absolute, 0 null null 90px);
			}
		}
	}
	.category-flex {
		&__block {
			padding: 15px 20px;
			min-height: 1px!important;
			&-title {
				font-size: 18px;
			}
			&-menu {
				&-link {
					font-size: 14px;
				}
				&-item {
					margin-bottom: 7px;
				}
			}
		}
		&.count-block-4 {
			@include flex-wrap(wrap);
			.category-flex__block {
				flex-basis: 48.5%;	
				&-title {
					font-size: 20px;
				}			
				&-text {
					font-size: 16px;
				}
			}
		}
		&.count-block-5 {
			.category-flex__block {
				// flex-basis: 48.5%;
				&-menu-item {
					width: 100%!important;
				}	
				&-menu-link {
					font-size: 14px;
				}
				&-title {
					font-size: 18px;
				}			
			}

		}
	}
	.description__block-text {
		font-size: 28px;
	}
	.buy-steps {
		&__line {
			&.first {
				left: 137px;
			}
			&.last {
				left: 148px;
			}
		}
	}
	.news-preview {
		margin-bottom: 60px;
		&__img-wrap {
			margin-bottom: 15px;
		}
	}
	.title {
		font-size: 34px;
	}
	.product-section {
		&__block {
			flex-basis: 45.7%;
			&.x-2 {
				flex-basis: 45.7%;
			}
		}
	}
	.morphsearch-content {
		width: 96%;
	}
	.footer {
		overflow: hidden;
		&__top {
			&-flex {
				// margin-left: 70px;
				margin-right: -70px;
				@include flex-wrap(wrap);
				&-block {
					flex-basis: 50%!important;
					&:not(:last-child) {
						&:before {
							display: none;
						}
					}
				}
				&-title {
					&.social {
						margin-left: 0;
					}
				}
			}
		}
		&__social {
			margin-left: 25px;
		}
		&__bottom {
			padding: 15px 0px;
		}
		&__copyright {
			left: 0;
			text-align: left;
		}
	}
	.about {
		&__block {
			margin: -60px auto 81px auto;
		}
		&__showroom {
			&-title {
				font-size: 78px;
			}
			&-undertitle {
				font-size: 24px;
			}
			&-text {
				margin: 0 0 32px 0
			}
		}
	}
	.cause {
		&__block {
			background-position:  -330px center;
		}
	}
	.cart {
		&__form {
			&-footer {
				padding: 20px 37px 5px 37px;
				margin: 37px -28px 0 -28px;
				&-btn-wrap {
					text-align: left;
					margin-top: 10px;
				}
			}
		}
		&__table {
			&-body {
				&-prod {
					&-name {
						margin: 17px 0 4px 0;
						font-size: 15px;
					}
					&-articul {
						margin: 0;
					}
				}
			}
			&-header {
				&-title {
					&.t-del {
						margin-left: -20px;
					}
				}
			}
		}
	}
	.border-panel {
		padding: 23px 27px;
	}
	.dillers__map {
		margin-top: 20px;
	}
	.flex-section {
		[class^="col-"] {
			margin-bottom: 30px;
		}
	}
	.product-section{
		&.filter-edit{
			.product-section {
				&__block  {
					flex-basis: 43.5%;
					&.x-2 {
						flex-basis: 43.5%;
					}
					&-img-wrap {
						min-height: 1px;
					}
				}
			}
		}
	}
	.filter {
		&__sidebar {
			padding: 12px 18px 2px 18px;
		}
	}
	.sidebar {
		&__menu {
			.subtitle {
				font-size: 18px;
			}
		}
		&__advantage {
			&-title {
				font-size: 15px;
			    line-height: normal;
			    margin: 0px 0 15px 86px;
			}
		}
		&__showroom {
			&-title  {
				font-size: 38px;
			}
			&-text {
				font-size: 15px;
				margin: 28px 0 0 99px;
				line-height: normal;
			}
		}
	}
	.pagination {
		&__list {
			&-item {
				margin: 0 4px;
			}
		}
	}
	.news-list {
		&__block {
			padding: 20px;
		}
	}
	.news-detail {
		padding: 15px 20px;
	}
	.preview__block {
		padding: 21px 4% 56px 4%;
	}
	.title {
		font-size: 30px;
	}
	.product {
		&__params {
			.form-input-counter {
				width: 113px;
			}
		}
		&__btn-submit {
			padding: 18px 0px 18px 43px;
			font-size: 12px;
			&:before {
				top: 15px;
				left: 24px;
			}
			&:hover {
				&:before {
					top: 15px;
					left: 19px;
				}
			}
		}
		&__tab {
			&-list {
				&-link {
					padding: 15px 5px;
				    font-size: 9px;
					letter-spacing: 0px;
				}
			}
			&-composition {
				&-block {
					flex-basis: 48%;
				}
			}
		}
		&__advantage {
			// @include flex-wrap(wrap);
			&-block {
				@include flex-wrap(wrap);
				flex-basis: 100%;
				text-align: center;
				margin-bottom: 20px;
				&:nth-child(2) {
					&:before,
					&:after {
						display: none;
					}
				}
				&-img {
					display: block;
					margin: 0 auto 10px auto;
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header {
		&__phone {
			font-size: 18px;
			&-divider {
				font-size: 18px;
				margin: 2px 10px 0 10px;
			}
		}
		&__logo-img {
			min-width: 160px;
		}
		&__address-block {
		    margin: 6px 0 0 -22px;
		}
		&__basket {
		    margin: 9px 0 0 -45px;
		}
		&__menu {
		    margin: 0 -120px 0 16px;
		}
		&__work-time {
		    margin: 1px 0 0 48px;
		    text-align: right;
		}
		&__top {
			&-menu {
				&-item {
					&:not(:last-child) {
						margin-right: 12px;
					}
				}
			}
			&-address {
				&-block {
					margin: -14px -40px -14px -32px;
				    left: -30px;
				    &:before {
				    	left: 11px;
				    }
				}
			}
			&-phone {
				margin-left: 10px;
				font-size: 14px;
				&:first-child {
					margin-left: 0;
				}
				&-block {
					&:before {
						left: -16px;
					}
				}
			}
		}
		&-category {
			&__menu {
				&-link {
					font-size: 23px;
				}
			}
		}
		&__bottom {
			&-menu {
				margin-left: -62px;
				&-item {
					padding: 31px 0px 31px 20px;
				}
				&-link {
					letter-spacing: 2px;
					font-size: 16px;
				}
			}
			&-search {
				margin: 29px 0 0 -30px;
			}
		}
		&.count-cat-4 {
			.header__bottom-menu-item {
				padding: 33px 0px 33px 10px;
			}
			.header__bottom-menu-link {
				letter-spacing: 1px;
				font-size: 14px;
			}
		}
		&.count-cat-5 {
			.header__bottom-menu-item {
				padding: 33px 0px 34px 10px;
			}
			.header__bottom-menu-link {
				letter-spacing: 0px;
				font-size: 13px;
			}
			.header__top-phone {
				font-size: 13px;
			}
			.header__top-phone-block {
				left: -30px;
				&:before {
					left: 10px;
				}
			}
			.header__top-address-block {
				left: -40px;
			}
		}
	}
	.buy-steps__line {
		max-width: 180px;
	}
	.news-preview {
		&__text {
			padding: 0;
		}
	}
	.category-flex {
		&__block {
			&-title {
				font-size: 20px;
			}
		}
		&.count-block-4 {
			.category-flex__block-title {
				font-size: 18px;
			}
			.category-flex__block-menu-link {
				font-size: 15px;
			}
		}
		&.count-block-5 {
			.category-flex__block-title {
				font-size: 18px;
			}
			.category-flex__block-menu-link {
				font-size: 15px;
			}
		}
	}
	.product-section {
		&__block {
			flex-basis: 22%;
			&.x-2 {
				flex-basis: 34.4%;
			}
			&-img-wrap {
				min-height: 280px;
			}
		}
	}
	.footer {
		&__top {
			&-flex-block {
				&:not(:last-child) {
					&:before {
						right: 7px;
					}
				}
				&:nth-child(3) {
					left: 20px;
					&:before {
					 	right: 0px!important;
					}
				}
				&:nth-child(2) {
				    flex-basis: 40%;
				}
			}
		}
		&__social {
			&-link {
				margin-right: 18px;
			}
		}
		&__bottom {
			padding: 35px 0;
		}
		&__copyright {
			left: 0;
		}
	}
	.about {
		&__showroom {
			&-title {
				font-size: 85px;
			}
		}
	}
	.cause {
		&__block {
			background-position: -260px center;
			&-title {
				font-size: 40px;
			}
		}
	}
	.cart {
		&__table-body {
			&-img {
				margin: 10px 0;
				max-width: 75px;
			}
		}
		&__form-footer {
			&-btn  {
				padding: 19px 60px;
			}
			&-total-price {
				font-size: 29px;
			}
		}
	}
	.form {
		&-input {
			&-counter {
				width: 100px;
				&__input {
					padding: 0 55px 0 20px;
					width: 100px;
				}
				&__label {
					left: 44px;
				}
			}
		}
	}
	.contact {
		&__work-day {
			&-item {
				width: 46px;
			}
			&-time {
				font-size: 14px;
			}
		}
	}
	.product-section.filter-edit  {
		.product-section__block {
			flex-basis: 29%;
			&.x-2 {
				// flex-basis: 45.4%;
				flex-basis: 29%;
				.product-section__block-img-wrap {
					min-height: 185px;
				}
			}
		}
	}
	.filter {
		&__sidebar {
			padding: 9px 9px 0 9px;
		}
		&__price-range-block-input {
			width: 47%;
		}
	}
	.sidebar {
		&__menu {
			padding: 9px;
			&-list {
				&-link {
					&:hover,
					&.current,
					&:focus {
						margin-left: -9px;
						padding-left: 9px;
					}
				}
			}
		}
		&__tags {
			&-block {
				&-trigger {
					bottom: 10px;
				}
			}
			&-section {
				&.active {
					padding-bottom: 24px;
				}
			}
		}
		&__advantage-title {
			font-size: 14px;
			line-height: 19px;
			margin: 0px 0 14px 86px;
		}
		&__showroom {
			&-title  {
				font-size: 38px;
			}
			&-text {
				font-size: 16px;
				line-height: 21px;	
			}
		}
	}
	.product {
		&__btn-submit {
			font-size: 12px;
			padding: 18px 0px 18px 33px;
			&:before {
				left: 24px;
				top: 17px;
			}
			&:hover {
				&:before {
					left: 19px;
				}
			}
		}
		&__price {
			&-old {
				margin: 14px 0 0px 0;
			}
			&-current {
				font-size: 24px;
			}
			&-diller {
				font-size: 12px;
			}
		}
		&__advantage-block {
			text-align: center;
			&:nth-child(2):before,
			&:nth-child(2):after {
				top: 35px;
			}
			&-img {
				display: block;
				margin: 0 auto 10px auto;
			}
		}
		&__tab-content-block-prop-list-item {
			width: 11.6%;
		}
		&__tab-list-link {
			padding: 20px 5px;
			font-size: 11px;
		}
		&__tab {
			&-composition {
				&-block {
					flex-basis: 48%;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.search {
		&__block {
			float: none;
			&-input {
				max-width: 38px;
				@include position(absolute, 0 0 null null);
				border-bottom: 1px solid transparent;
				&:focus {
					max-width: 100%;
					border-bottom: 1px solid #454051;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
		padding: 0;
	}
}
@media (min-width: 1500px) {
	.container {
		width: 1470px;
		padding: 0;
	}
	.header {
		&__top {
			&-menu {
				&-item {
					&:not(:last-child) {
						margin-right: 55px;
					}
				}
			}
			&-address {
				&-block {
					margin: -14px 20px;
				}
			}
			&-phone {
				&-block {
					&:before {
						left: 81px;
					}
				}
			}
		}
		&__bottom {
			&-menu {
				margin-left: -192px;
				&-item {
					padding: 31px 0px 31px 111px;
				}
			}
		}
		&.count-cat-4 {
			.header__bottom-menu-link {
				letter-spacing: 4px;
			    font-size: 18px;
			}
		}
		&.count-cat-5 {
			.header__bottom-menu-link {
				letter-spacing: 2px;
			    font-size: 18px;
			}
			.header__bottom-menu {
				margin-right: -130px;
			}
			.header__bottom-menu-item {
			    padding: 31px 0px 31px 39px;
			}
		}
	}
	.product-section{
		&__block {
			flex-basis: 23%;
			&.x-2 {
				flex-basis: 35.4%;
			}
		}
		&.filter-edit {
			.product-section__block {
				flex-basis: 30.6%;
				&.x-2 {
					flex-basis: 47.1%;
				}
			}
		}
	}
	.form {
		&-input {
			&-counter {
				&__input {
					width: 100%;
				}
				&__label {
					left: 100px;
				}
			}
		}
	}
	.cause {
		&__block {
			background-position: -120px center;
		}
	}
}
@media (min-width: 1800px) {
	.container {
		width: 1770px;
		padding: 0;
	}
	.product-section {
		&__block {
		    flex-basis: 18.35%;
		    &.x-2 {
		    	flex-basis: 23.5%;
		    }
		}
	}
	.header {
		&__top {
			&-address {
				&-block {
				    margin: -14px 50px;
				}
			}
			&-phone {
				&-block {
					&:before {
					    left: 151px;
					}
				}
			}
		}
		&__bottom {
			&-menu {
				&-item {
					padding: 31px 0px 31px 154px;
				}
			}
		}
		&.count-cat-4 {
			.header__bottom-menu {
			    margin-right: -178px;
			    margin-left: -266px;
			}
			.header__bottom-menu-item {
			    padding: 31px 0px 31px 90px;
			}
		}
		&.count-cat-5 {
			.header__bottom-menu {
			    margin-right: -18px;
			    margin-left: -266px;
			}
			.header__bottom-menu-item {
			    padding: 31px 0px 31px 90px;
			}
		}
	}
}