@media (max-width: 767px) {
	.description__block-text {
		font-size: 20px;
	}
	.seo-description {
		&__title {
			margin: 0 0 20px;
		}
		&__trigger,
		&__block {
			margin-left: 0;
		}
	}
	.title {
		font-size: 28px;
		* {
			letter-spacing: 2px;
		}
	}
	.news-preview {
		&__img-wrap {
			margin-bottom: 15px;
		}
		&__text {
			padding: 0;
			margin-bottom: 40px;
		}
	}
	.buy-steps {
		margin-top: -40px;
		&__title {
			margin-top: 30px !important;
		}
	}
	.advantages {
		@include flex-wrap(wrap);
		&__block {
			flex-basis: 45%;
			margin: 0 10px 20px 10px;
		}
	}
	.footer {
		text-align: center;
		&__social-link {
			margin: 0 5px 10px 5px;
		}
		.text-right {
			text-align: center;
		}
	}
}
@media (max-width: 499px) {
	.header {
		&__logo-img {
			display: block;
			margin: 0 auto;
		}
		&__work-time {
			margin-left: 0;
			text-align: center;
		}
		&__menu {
			margin-left: 0;
			text-align: center;
			&-item {

			}
		}
		&__phone {
			font-size: 18px;
			&-block {
				text-align: center;
			}
			&-divider {
				font-size: 15px;
				margin: 5px;
			}
		}
	}
	.news-preview {
		text-align: center;
	}
	.title {
	    font-size: 22px;
	    * {
	    	padding: 4px 18px;
	    }
	    &:before {
	    	top: 63%;
	    	height: 2px;
	    }
	}
	.advantages {
		&__block {
			position: relative;
			flex-basis: 100%;
		    margin: 0 0 10px 0;
		    height: 72px;
		    &-img {
		    	@include position(absolute, null null null null);
		    	display: block;
		    }
		    &-text {
		    	margin-left: 80px;
		    }
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.header {
		&__menu {
			text-align: center;
			margin: 0;
		}
		&__work-time {
			text-align: center;
			margin: 10px 0;
		}
		&__phone {
			margin-top: 5px;
			font-size: 22px;
		}
		&__top {
			margin-bottom: 2px;
		}
		&__address-block {
			margin: 0;
		}
		&-category__menu-link {
			font-size: 17px;
		}
	}
	.advantages {
		&__block {
			flex-basis: 50%;
		}
	}
	.category-flex {
		&__block {
			padding: 15px 20px;
			min-height: 1px!important;
			&-title {
				font-size: 22px;
			}
			&-menu {
				&-link {
					font-size: 14px;
				}
				&-item {
					margin-bottom: 7px;
				}
			}
		}
		&.count-block-4 {
			@include flex-wrap(wrap);
			.category-flex__block {
				flex-basis: 48.5%;				
			}
		}
		&.count-block-8,
		&.count-block-7 {
			.category-flex__block {
				flex-basis: 48.5%;				
			}
		}
	}
	.description__block-text {
		font-size: 28px;
	}
	.buy-steps {
		&__line {
			&.first {
				left: 137px;
			}
			&.last {
				left: 148px;
			}
		}
	}
	.news-preview {
		margin-bottom: 60px;
		&__img-wrap {
			margin-bottom: 15px;
		}
	}
	.title {
		font-size: 34px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header {
		&__phone {
			font-size: 18px;
			&-divider {
				font-size: 18px;
				margin: 2px 10px 0 10px;
			}
		}
		&__logo-img {
			min-width: 160px;
		}
		&__address-block {
		    margin: 6px 0 0 -22px;
		}
		&__basket {
		    margin: 9px 0 0 -45px;
		}
		&__menu {
		    margin: 0 -120px 0 16px;
		}
		&__work-time {
		    margin: 1px 0 0 48px;
		    text-align: right;
		}
		&__top {
			&-menu {
				&-item {
					&:not(:last-child) {
						margin-right: 12px;
					}
				}
			}
			&-address {
				&-block {
					margin: -14px -40px -14px -32px;
				    left: -30px;
				    &:before {
				    	left: 11px;
				    }
				}
			}
			&-phone {
				margin-left: 10px;
				font-size: 14px;
				&:first-child {
					margin-left: 0;
				}
				&-block {
					&:before {
						left: -16px;
					}
				}
			}
		}
		&-category {
			&__menu {
				&-link {
					font-size: 23px;
				}
			}
		}
		&__bottom {
			&-menu {
				margin-left: -62px;
				&-item {
					padding: 31px 0px 31px 20px;
				}
				&-link {
					letter-spacing: 2px;
					font-size: 16px;
				}
			}
			&-search {
				margin: 29px 0 0 -30px;
			}
		}
		&.count-cat-4 {
			.header__bottom-menu-item {
				padding: 33px 0px 33px 10px;
			}
			.header__bottom-menu-link {
				letter-spacing: 1px;
				font-size: 14px;
			}
		}
		&.count-cat-5 {
			.header__bottom-menu-item {
				padding: 33px 0px 34px 10px;
			}
			.header__bottom-menu-link {
				letter-spacing: 0px;
				font-size: 13px;
			}
			.header__top-phone {
				font-size: 13px;
			}
			.header__top-phone-block {
				left: -30px;
				&:before {
					left: 10px;
				}
			}
			.header__top-address-block {
				left: -40px;
			}
		}
	}
	.buy-steps__line {
		max-width: 180px;
	}
	.news-preview {
		&__text {
			padding: 0;
		}
	}
	.category-flex {
		&__block {
			&-title {
				font-size: 20px;
			}
		}
		&.count-block-4 {
			.category-flex__block-title {
				font-size: 18px;
			}
			.category-flex__block-menu-link {
				font-size: 15px;
			}
		}
		&.count-block-5 {
			.category-flex__block-title {
				font-size: 18px;
			}
			.category-flex__block-menu-link {
				font-size: 15px;
			}
		}
	}
	.product-section {
		&__block {
			flex-basis: 22%;
			&.x-2 {
				flex-basis: 34.4%;
			}
			&-img-wrap {
				min-height: 280px;
			}
		}
	}
	.footer {
		&__top {
			&-flex-block {
				&:not(:last-child) {
					&:before {
						right: 7px;
					}
				}
				&:nth-child(3) {
					&:before {
					 	right: -25px!important;
					}
				}
			}
		}
		&__social {
			&-link {
				margin-right: 18px;
			}
		}
		&__bottom {
			padding: 35px 0;
		}
		&__copyright {
			left: 0;
		}
	}
	.about {
		&__showroom {
			&-title {
				font-size: 85px;
			}
		}
	}
	.cause {
		&__block {
			background-position: -260px center;
			&-title {
				font-size: 40px;
			}
		}
	}
	.cart {
		&__table-body {
			&-img {
				margin: 10px 0;
				max-width: 75px;
			}
		}
		&__form-footer {
			&-btn  {
				padding: 19px 60px;
			}
			&-total-price {
				font-size: 29px;
			}
		}
	}
	.form {
		&-input {
			&-counter {
				width: 100px;
				&__input {
					padding: 0 55px 0 20px;
					width: 100px;
				}
				&__label {
					left: 44px;
				}
			}
		}
	}
	.contact {
		&__work-day {
			&-item {
				width: 46px;
			}
			&-time {
				font-size: 14px;
			}
		}
	}
	.product-section.filter-edit  {
		.product-section__block {
			flex-basis: 29%;
			&.x-2 {
				// flex-basis: 45.4%;
				flex-basis: 29%;
				.product-section__block-img-wrap {
					min-height: 185px;
				}
			}
		}
	}
	.filter {
		&__sidebar {
			padding: 9px 9px 0 9px;
		}
		&__price-range-block-input {
			width: 47%;
		}
	}
	.sidebar {
		&__menu {
			padding: 9px;
			&-list {
				&-link {
					&:hover,
					&.current,
					&:focus {
						margin-left: -9px;
						padding-left: 9px;
					}
				}
			}
		}
		&__tags {
			&-block {
				&-trigger {
					bottom: 10px;
				}
			}
			&-section {
				&.active {
					padding-bottom: 24px;
				}
			}
		}
		&__advantage-title {
			font-size: 14px;
			line-height: 19px;
			margin: 0px 0 14px 86px;
		}
		&__showroom {
			&-title  {
				font-size: 38px;
			}
			&-text {
				font-size: 16px;
				line-height: 21px;	
			}
		}
	}
	.product {
		&__btn-submit {
			font-size: 12px;
			padding: 18px 0px 18px 33px;
			&:before {
				left: 24px;
				top: 17px;
			}
			&:hover {
				&:before {
					left: 19px;
				}
			}
		}
		&__price {
			&-old {
				margin: 14px 0 0px 0;
			}
			&-current {
				font-size: 24px;
			}
		}
		&__advantage-block {
			text-align: center;
			&:nth-child(2):before,
			&:nth-child(2):after {
				top: 35px;
			}
			&-img {
				display: block;
				margin: 0 auto 10px auto;
			}
		}
		&__tab-content-block-prop-list-item {
			width: 11.6%;
		}
	}
}
@media (min-width: 768px) {
	.search {
		&__block {
			float: none;
			&-input {
				max-width: 38px;
				@include position(absolute, 0 0 null null);
				border-bottom: 1px solid transparent;
				&:focus {
					max-width: 100%;
					border-bottom: 1px solid #454051;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
		padding: 0;
	}
}
@media (min-width: 1500px) {
	.container {
		width: 1470px;
		padding: 0;
	}
}
@media (min-width: 1800px) {
	.container {
		width: 17700px;
		padding: 0;
	}
}