.header {
	margin-bottom: 22px;
	&.count-cat-5 {
		.header__top-address-block {
			left: -20px;
		}
		.header__top-phone-block {
			left: -35px;
		}
		.header__top-search {
			display: block;
		}
		.header__bottom-search {
			display: none;
		}
		.header__bottom-menu-item {
			// padding: 31px 0px 32px 39px;
			padding: 10px 0px 10px 39px;
		}
		.header__bottom-menu-link {
			letter-spacing: 0px;
			// font-size: 14px;
			font-size: 17px;
		}
		.header__bottom-menu {
			margin-right: -70px;
		}
	}
	&.count-cat-4 {
		.header__bottom-menu-item {
			padding: 33px 0px 33px 37px;
		}
		.header__bottom-menu-link {
			letter-spacing: 2px;
			font-size: 15px;
		}
	}
	&__top {
		background: #f6f8f9;
		border-bottom: 1px solid #f2f2f2;
		padding: 14px 0;
		// меню
		&-menu {
			&-list {
				padding: 0;
				margin: 0;
				list-style-type: none;
			}
			&-item {
				display: inline-block;
				vertical-align: top;
				&:not(:last-child) {
					margin-right: 22px;
				}
			}
			&-link {
				border-bottom: 1px solid #d7d9da;
				color: #7a7d80;
				font-size: 15px;
				letter-spacing: 1px;
				&:hover {
					@include hoverlink;
				}
			}
			&-mob-btn {
				width: 30px;
				height: 30px;
				border-top: 2px solid #7a7d80!important;
				position: relative;
				display: none;
				&:before,
				&:after {
					content: '';
					@include position(absolute, null null null 0);
					width: 100%;
					height: 2px;
					background: #7a7d80;
					@include transition(all 0.2s ease-in-out);
				}
				&:before {
					top: 6px;
				}
				&:after {
					top: 14px;
				}
				&.active {
					border: 2px solid transparent!important;
					&:before {
						top: 6px;
						@include transform(rotate(45deg));
					}
					&:after {
						top: 6px;
						@include transform(rotate(-45deg));
					}
				}
			}
		}
		// адрес
		&-address {
			&-block {
				letter-spacing: 0.7px;
				padding-left: 25px;
				position: relative;
				text-align: center;
				margin: -14px;
				padding: 14px;
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				position: relative;
				@include transition(all 0.2s ease-in-out);
				&:hover {
					background: #fff;
					border-left: 1px solid #f2f2f2;
					border-right: 1px solid #f2f2f2;
					&:after {
						content: '';
						@include position(absolute, 22px 15px null null);
						border-top: 0;
						@include triangle(8px, #cccfd1, up);
					}
					.header__top-address-hide {
						padding-bottom: 10px;
						border: 1px solid #f2f2f2;
						border-top: none;
						opacity: 1;
						z-index: 8;
						box-shadow: 0 1px 2px rgba(0,0,0,.1);
					}
					&:before {
						background-position: -534px -10px;
					}
				}
				&:before {
					content: '';
					@include position(absolute, 16px null null 17px);
					background: url(../img/sprite.png) -453px -10px no-repeat;
					width: 13px;
					height: 16px;
				}
				&:after {
					content: '';
					@include position(absolute, 22px 15px null null);
					@include triangle(8px, #cccfd1, down);
				}
			}
			&-hide {
				opacity: 0;
				@include transition(opacity 0.2s ease-in-out);
				position: absolute;
				top: 42px;
				left: 0;
				right: 0;
				margin: 0 -1px;
				border-radius: 0 0 3px 3px;
				background: #fff;
				z-index: -1;
			}
			&-text {
				color: #7a7d80;
				margin: 0;
			}
		}
		// телефоны 
		&-phone {
			color: #7a7d80;
			letter-spacing: 0.3px;
		    margin-left: 17px;
			&:hover,
			&:focus {
				text-decoration: none;
				color: #7a7d80;
			}
			&-block {
				text-align: right;
				position: relative;
				&:before {
					content: '';
					@include position(absolute, 3px null null 11px);
					background: url(../img/sprite.png) -342px -10px no-repeat;
					width: 14px;
					height: 14px;
				}
			}
		}
		// поиск 
		&-search {
			width: 16px;
			height: 16px;
			border: none;
			display: inline-block;
			background: url(../img/sprite.png) -567px -10px no-repeat;
			display: none;
			@include position(absolute, 3px 20px null null);
		}
	}
	&__bottom {
		position: relative;
		z-index: 4;
		border-bottom: 1px solid #f2f2f2;
		// меню каталога
		&-menu {
			margin-left: -117px;
			position: relative;
			z-index: 2;
			&-mob-btn {
				@extend .header__top-menu-mob-btn;
				top: 32px;
				font-size: 16px;
				left: -10px;
				color: #7a7d80;
				* {
					position: relative;
					top: -7px;
					left: 32px;
					text-transform: uppercase;
					font-weight: 700;
				}
				&.active {
					* {
						top: -6px;
						left: 30px;
					}
				}
			}
			&-list {
				list-style-type: none;
				padding: 0;
				margin: 0;
			}
			&-item {
				display: inline-block;
				position: relative;
				padding: 31px 0px 31px 41px;
				&.active,
				&:hover {
					.header__dropdown-block {
						max-height: 2000px;
						padding: 25px 0 45px 0;
					}
					.header__bottom-menu-link {
						color: $ruby;
					}
				}
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					.header__dropdown-block {
						left: auto;
						// right: -170px;	
						right: -250px;	
					}
				}
			}
			&-link {
				text-transform: uppercase;
				letter-spacing: 4px;
				font-size: 18px;
				display: block;
				font-weight: bold;
				color: #454051;
				&:hover {
					color: $ruby;
					text-decoration: none;
				}
			}
		}
		// корзина
		&-basket {
			float: right;
			position: relative;
			margin: 22px 0 0 0;
			&-img-link {
				display: inline-block;
				background: url(../img/sprite.png) -10px -10px no-repeat;
				width: 34px;
				height: 30px;
				position: relative;
				float: left;
				opacity: 0.85;
				@include transition(all 0.2s ease-in-out);
				@include position(absolute, 6px null null -47px);
				&:hover {
					opacity: 1;
				}
			}
			&-count {
				border: 2px solid #fff;
				border-radius: 50%;
				background: $ruby;
				color: #fff;
				font-weight: 600;
				font-size: 10px;
				@include position(absolute, -6px -9px null null);
				width: 20px;
				height: 20px;
				line-height: 17px;
				text-align: center;
			}
			&-price {
				margin: 0 0 -5px 0;
				font-weight: bold;
				color: #454051;
				letter-spacing: 0.6px;
				font-size: 16px;
			}
			&-link {
				color: #7a7d80;
				letter-spacing: 1px;
				font-size: 11px;
				border-bottom: 1px solid rgba(50, 51, 52, 0.3);
				@include transition(all 0.2s ease-in-out);
				&:focus,
				&:hover {
					color: #323334;
					border-bottom: 1px solid #323334;
					text-decoration: none;
				}
			}
		}
		// кнопка поиска возле меню
		&-search {
			position: relative;
			margin: 29px 0 0 -5px;
			display: inline-block;
			&-btn {
				display: inline-block;
				border: none;
				width: 28px;
				height: 28px;
				opacity: 0.85;
				background: url(../img/sprite.png) -486px -10px no-repeat;
				@include position(absolute, 0 null null 0);
				@include transition(all 0.2s ease-in-out);
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	&__dropdown {
		&-block {
			// @include position(absolute, 88px null null 0);
			@include position(absolute, 44px null null 0);
			width: 615px;
			box-shadow:0 1px 2px rgba(0,0,0,.1);
			max-height: 0;
			z-index: 10;
			overflow: hidden;
			@include transition(all 0.2s 0.1s ease-in-out);
			background-position: 100% center;
			background-color: #f5f7f9;
			background-repeat: no-repeat;
			&.slideIn {
				animation: slideIn 0.3s ease;
				-webkit-animation: slideIn 0.3s ease;
			}
			&.slideOut {
				animation: slideOut 0.3s ease;
				-webkit-animation: slideOut 0.3s ease;
			}
		}
		&-menu {
			list-style-type: none;
			padding: 0;
			margin: 0px 0 0 44px;
			&-item {
				width: 265px;
				&:not(:last-child) {
					border-bottom: 1px dotted #d4d6d7;
				}
			}
			&-link {
				color: #454051;
				letter-spacing: 1.7px;
				font-size: 16px;
				padding: 10px 0;
				display: block;
				position: relative;
				&:focus,
				&:hover {
					color: #fff;
					text-decoration: none;
					background: $ruby;
					margin-left: -44px;
					padding-left: 44px;
					&:before {
						content: '';
						@include position(absolute, 0 -16px 0 null);
						background: url('../img/menu-arrow.png') no-repeat 0 0;
						width: 17px;
						height: 100%;
						background-size: 100% 100%;
					}
				}
			}
		}
	}
}
@-webkit-keyframes (slideIn) {
	0% {
		background-position: 200% center;
	}
	100% {
		background-position: 100% center;
	}
}
@keyframes (slideIn) {
	0% {
		background-position: 200% center;
	}
	100% {
		background-position: 100% center;
	}
}

@-webkit-keyframes (slideOut) {
	0% {
		background-position: 100% center;
	}
	100% {
		background-position: 200% center;
	}
}
@keyframes (slideOut) {
	0% {
		background-position: 100% center;
	}
	100% {
		background-position: 200% center;
	}
}