header.header
	.container
		.row
			.col-sm-2
				// логотип 
				a.header__logo(href="/")
					img.header__logo-img(src="img/logo.png" alt="Site Logo")
				// конец логотип
			.col-sm-10
				.header__top
					.row
						.col-sm-6
							// меню 
							ul.header__menu
								each item in headerMenu
									li.header__menu-item
										a.header__menu-link(href="#!") #{item}
							// конец меню
						.col-sm-6
							// график работы
							p.header__work-time С 9<sup>:00</sup> до 20<sup>:00</sup>, каждый день, кроме воскресенья
							// конец график работы
				.header__bottom
					.row
						.col-sm-5
							// блок телефонов
							.header__phone-block
								a.header__phone(href="tel:+380503850101") 050-385-01-01
								span.header__phone-divider /
								a.header__phone(href="tel:+380673850101") 067-385-01-01
							// конец блок телефонов
						.col-sm-4
							// блок с адресом
							.header__address-block
								p.header__address Киев, ул. Семьи Сосниных 3
								a.header__address-email(href="mailto:#{email}") #{email}
							// конец блок с адресом
						.col-sm-3
							// блок с корзиной
							.header__basket
								img.header__basket-img(src="img/pack.png", alt="Pack")
								.header__basket-text
									span.header__basket-count 4
									|  товара на 
									span.header__basket-price 12 900
									|  грн
									div
										a.header__basket-btn(href="#!") Оформить
							// конец блок с корзиной
		.row
			.col-sm-12
				.header-category
					// форма поиска
					.search__block
						form(action="#!")
							input.search__block-input(type="text" required)
							button.search__block-submit(type="submt")
					// конец форма поиска
					// меню категорий
					ul.header-category__menu
						li.header-category__menu-item
							a.header-category__menu-link(href="#!") Офисная мебель
						li.header-category__menu-item
							a.header-category__menu-link(href="#!") Офисные кресла
						li.header-category__menu-item
							a.header-category__menu-link(href="#!") Стол и стул
					// конец меню категорий
					
				