// направление текста
.text-center {text-align: center;}
.text-right {text-align: right;}

// отступы
.m-0 {margin: 0;}

.p-0 {padding: 0;}


// цвет текста
.color-red {color: $red;}

// заголовок
.title {
	color: #454051;
	position: relative;
	margin: 7px 0 24px 0;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	&:before {
		content: '';
		@include position(absolute, 53% null null 0);
		width: 100%;
		height: 2px;
		background: #dad9dc;
	}
	& * {
		color: #454051;
		display: inline-block;
		background: #fff;
		padding: 4px 14px;
		position: relative;
		letter-spacing: 2px;
	}
}

// универсальная кнопка
.btn {
	border: none;
	background: none;
	outline: none;
	@include transition(all 0.2s ease-in-out);
	color: #fff;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 600;
	border-radius: $br;
	background: $ruby;
	box-shadow: 0 2px 0 #9f2d23;
	text-transform: uppercase;
	border-bottom: 2px solid #a02e23;
	padding: 15px 27px;
	position: relative;
	top: 0;
	&:focus,
	&:hover {
		color: #fff;
		background: #d53f30;
		text-decoration: none;
	}
	// эффект вдавливания
	&:active {
		border-bottom: 0px solid transparent;
		top: 2px;
	}
}