.breadcrumbs(xmlns:v="http://rdf.data-vocabulary.org/#")
	ul.breadcrumbs__list
		li.breadcrumbs__list-item(typeof="v:Breadcrumb")
			a.breadcrumbs__list-link(href="#!" rel="v:url" property="v:title") Главная
		li.breadcrumbs__list-item(typeof="v:Breadcrumb")
			a.breadcrumbs__list-link(href="#!" rel="v:url" property="v:title") Не активный пункт
		li.breadcrumbs__list-item(typeof="v:Breadcrumb")
			a.breadcrumbs__list-link.current(href="#!" rel="v:url" property="v:title") Активный пункт